// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed
/* Form */
form {
    margin: 0 0 _size(element-margin) 0;
}

label {
    color: _palette(fg-bold);
    display: block;
    font-size: _font(font-size-small);
    font-weight: _font(weight-bold);
    margin: 0 0 (_size(element-margin) * 0.5) 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
    @include vendor('appearance', 'none');
    background: _palette(border-bg);
    border-radius: _size(border-radius);
    border: none;
    border: solid _size(border-width) _palette(border);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;

    &:invalid {
        box-shadow: none;
    }

    &:focus {
        border-color: _palette(accent1, bg);
        box-shadow: 0 0 0 _size(border-width) _palette(accent1, bg);
    }
}

.select-wrapper {
    @include icon('\f078');
    display: block;
    position: relative;

    &:before {
        color: _palette(border);
        display: block;
        height: _size(element-height);
        line-height: _size(element-height);
        pointer-events: none;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: _size(element-height);
    }

    select::-ms-expand {
        display: none;
    }
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: _size(element-height);
}

textarea {
    padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
    display: block;
    float: left;
    margin-right: 0.5em;
    width: 1em;
    z-index: -1;

    & + label {
        @include icon;
        color: _palette(fg);
        cursor: pointer;
        display: inline-block;
        font-size: _font(font-size-normal);
        font-weight: _font(weight);
        padding-left: (_size(element-height) * 0.6) + 0.75em;
        padding-right: 0.75em;
        position: relative;
        &:before {
            background: _palette(border-bg);
            border-radius: _size(border-radius);
            border: solid _size(border-width) _palette(border);
            content: '';
            display: inline-block;
            height: (_size(element-height) * 0.6);
            left: 0;
            line-height: (_size(element-height) * 0.575);
            position: absolute;
            text-align: center;
            top: 0;
            width: (_size(element-height) * 0.6);
        }
    }

    &:checked + label {
        &:before {
            background: _palette(accent2, bg);
            border-color: _palette(accent2, bg);
            color: _palette(accent2, fg-bold);
            content: '\f00c';
        }
    }

    &:focus + label {
        &:before {
            border-color: _palette(accent1, bg);
            box-shadow: 0 0 0 _size(border-width) _palette(accent1, bg);
        }
    }
}

input[type="checkbox"] {
    & + label {
        &:before {
            border-radius: _size(border-radius);
        }
    }
}

input[type="radio"] {
    & + label {
        &:before {
            border-radius: 100%;
        }
    }
}

::-webkit-input-placeholder {
    color: _palette(fg-light) !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: _palette(fg-light) !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: _palette(fg-light) !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: _palette(fg-light) !important;
    opacity: 1.0;
}

.formerize-placeholder {
    color: _palette(fg-light) !important;
    opacity: 1.0;
}