// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

/* Icon */

.icon {
    @include icon;
    border-bottom: none;
    position: relative;

    > .label {
        display: none;
    }
}