// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

/* List */

ol {
    list-style: decimal;
    margin: 0 0 _size(element-margin) 0;
    padding-left: 1.25em;

    li {
        padding-left: 0.25em;
    }
}

ul {
    list-style: disc;
    margin: 0 0 _size(element-margin) 0;
    padding-left: 1em;

    li {
        padding-left: 0.5em;
    }

    &.alt {
        list-style: none;
        padding-left: 0;

        li {
            border-top: solid _size(border-width) _palette(border);
            padding: 0.5em 0;

            &:first-child {
                border-top: 0;
                padding-top: 0;
            }
        }
    }

    &.icons {
        cursor: default;
        list-style: none;
        padding-left: 0;

        li {
            display: inline-block;
            padding: 0 1em 0 0;

            &:last-child {
                padding-right: 0;
            }

            .icon {
                &:before {
                    font-size: _font(font-size-xxlarge);
                }
            }
        }
    }

    &.actions {
        cursor: default;
        list-style: none;
        padding-left: 0;

        li {
            display: inline-block;
            padding: 0 (_size(element-margin) * 0.5) 0 0;
            vertical-align: middle;

            &:last-child {
                padding-right: 0;
            }
        }

        &.small {
            li {
                padding: 0 (_size(element-margin) * 0.25) 0 0;
            }
        }

        &.vertical {
            li {
                display: block;
                padding: (_size(element-margin) * 0.5) 0 0 0;

                &:first-child {
                    padding-top: 0;
                }

                > * {
                    margin-bottom: 0;
                }
            }

            &.small {
                li {
                    padding: (_size(element-margin) * 0.25) 0 0 0;

                    &:first-child {
                        padding-top: 0;
                    }
                }
            }
        }

        &.fit {
            display: table;
            margin-left: (_size(element-margin) * -0.5);
            padding: 0;
            table-layout: fixed;
            width: calc(100% + #{(_size(element-margin) * 0.5)});

            li {
                display: table-cell;
                padding: 0 0 0 (_size(element-margin) * 0.5);

                > * {
                    margin-bottom: 0;
                }
            }

            &.small {
                margin-left: (_size(element-margin) * -0.25);
                width: calc(100% + #{(_size(element-margin) * 0.25)});

                li {
                    padding: 0 0 0 (_size(element-margin) * 0.25);
                }
            }
        }

        @include bb-rows-breakpoint-up(x-small) {
            margin: 0 0 _size(element-margin) 0;

            li {
                padding: (_size(element-margin) * 0.5) 0 0 0;
                display: block;
                text-align: center;
                width: 100%;

                &:first-child {
                    padding-top: 0;
                }

                > * {
                    width: 100%;
                    margin: 0 !important;

                    &.icon {
                        &:before {
                            margin-left: -2em;
                        }
                    }
                }
            }

            &.small {
                li {
                    padding: (_size(element-margin) * 0.25) 0 0 0;

                    &:first-child {
                        padding-top: 0;
                    }
                }
            }
        }
    }
}

dl {
    margin: 0 0 _size(element-margin) 0;

    dt {
        display: block;
        font-weight: _font(weight-bold);
        margin: 0 0 (_size(element-margin) * 0.5) 0;
    }

    dd {
        margin-left: _size(element-margin);
    }
}