// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

/* Section/Article */

section, article {
    &.special {
        text-align: center;
    }
}

header {
    p {
        color: _palette(fg-light);
        position: relative;
        margin: 0 0 (_size(element-margin) * 0.75) 0;
    }

    h2 + p {
        font-size: _font(font-size-medium);
        margin-top: (_size(element-margin) * -0.5);
    }

    h3 + p {
        font-size: _font(font-size-normal);
        margin-top: (_size(element-margin) * -0.4);
    }

    h4 + p,
    h5 + p,
    h6 + p {
        font-size: _font(font-size-small);
        margin-top: (_size(element-margin) * -0.3);
    }
}