// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

/* Basic */

// MSIE: Required for IEMobile.
@-ms-viewport {
    width: device-width;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}


// MSIE: Prevents scrollbar from overlapping content.
body {
    -ms-overflow-style: scrollbar;
}

// Ensures page width is always >=320px.
@include bb-rows-breakpoint-up(x-small) {
    html,
    body {
        min-width: 320px;
    }
}

body {
    margin: 0;
    padding: 0;
    background: _palette(bg);

    // Prevents animation/transition "flicker" on page load.
    // Automatically added/removed by js/main.js.
    &.is-loading {
        *,
        *:before,
        *:after {
            @include vendor('animation', 'none !important');
            @include vendor('transition', 'none !important');
        }
    }
}