// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

/* Type */

body,
input,
select,
textarea {
    color: _palette(fg);
    font-family: _font(family);
    font-size: _font(font-size-normal);
    font-weight: _font(weight);
    line-height: _size(line-height-normal);

    @include bb-rows-breakpoint-up(x-large) {
        font-size: _font(font-size-small);
    }

    @include bb-rows-breakpoint-up(large) {
        font-size: _font(font-size-small);
    }

    @include bb-rows-breakpoint-up(medium) {
        font-size: _font(font-size-normal);
    }

    @include bb-rows-breakpoint-up(small) {
        font-size: _font(font-size-normal);
    }

    @include bb-rows-breakpoint-up(x-small) {
        font-size: _font(font-size-normal);
    }
}

a {
    color: _palette(accent1, bg);
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}

strong,
b {
    color: _palette(fg-bold);
    font-weight: _font(weight-bold);
}

em,
i {
    font-style: italic;
}

p {
    margin: 0 0 _size(element-margin) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: _palette(fg-bold);
    font-weight: _font(weight-bold);
    line-height: _size(line-height-normal);
    margin: 0 0 (_size(element-margin) * 0.5) 0;

    a {
        color: inherit;
        text-decoration: none;
    }
}

h2 {
    font-size: _font(font-size-large);
}

h3 {
    font-size: _font(font-size-medium);
}

h4 {
    font-size: _font(font-size-normal);
}

h5 {
    font-size: _font(font-size-small);
}

h6 {
    font-size: _font(font-size-xsmall);
}

sub {
    font-size: _font(font-size-small);
    position: relative;
    top: 0.5em;
}

sup {
    font-size: _font(font-size-small);
    position: relative;
    top: -0.5em;
}

blockquote {
    border-left: solid (_size(border-width) * 4) _palette(border);
    font-style: italic;
    margin: 0 0 _size(element-margin) 0;
    padding: (_size(element-margin) / 4) 0 (_size(element-margin) / 4) _size(element-margin);
}

code {
    background: _palette(border-bg);
    border-radius: _size(border-radius);
    border: solid _size(border-width) _palette(border);
    font-family: _font(family-fixed);
    font-size: _font(font-size-small);
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: _font(family-fixed);
    font-size: _font(font-size-small);
    margin: 0 0 _size(element-margin) 0;

    code {
        display: block;
        line-height: _size(line-height-large);
        padding: 1em 1.5em;
        overflow-x: auto;
    }
}

hr {
    border: 0;
    border-bottom: solid _size(border-width) _palette(border);
    margin: _size(element-margin) 0;

    &.major {
        margin: (_size(element-margin) * 1.5) 0;
    }
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}