// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

/* Banner */

.banner {
    @include padding(8em, 0);
    background: #f6f6f6;
    text-align: center;

    h2 {
        font-size: _font(font-size-xxlarge);
        line-height: _size(line-height-normal);
        margin: 0 0 0.5em 0;
        padding: 0;
    }

    p {
        font-size: _font(font-size-xlarge);
        margin-bottom: 1.75em;
    }

    @include bb-rows-breakpoint-up(x-large) {
        @include padding(7em, 0);
    }

    @include bb-rows-breakpoint-up(large) {
        @include padding(5em, 0);

        h2 {
            font-size: _font(font-size-xxlarge);
        }
    }

    @include bb-rows-breakpoint-up(medium) {
        @include padding(6em, 2em);
    }

    @include bb-rows-breakpoint-up(small) {
        @include padding(4em, 2em);

        h2 {
            font-size: _font(font-size-xlarge);
        }

        p {
            font-size: _font(font-size-medium);
        }
    }

    @include bb-rows-breakpoint-up(x-small) {
        @include padding(4em, 2em);
    }
}