// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

/* Footer */

footer {
    padding:2em 0 0 0 ;
    background: _palette(accent1, bg);
    color: _palette(accent1,fg-bold);
    h2,h3,h4{
        color:_palette(accent1,fg-bold);
    }
    h3{
        font-size: _font(font-size-normal);
    }
    .copyright {
        background: _palette(accent1, fg);
        color: _palette(accent1, fg-bold);
        font-size: _font(font-size-small);
        margin: 2em 0 0 0;
        padding: 1em;
        text-align: left;


        li {
            border-left: solid _size(border-width) _palette(border);
            display: inline-block;
            list-style: none;
            margin-left: 1.5em;
            padding-left: 1.5em;

            &:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }
        }
    }

    @include bb-rows-breakpoint-up(small) {
        @include padding(3em, 0);

        .copyright {
            li {
                display: block;
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }
        }
    }

}

