header {
    background: _palette(accent2, fg-bold);
    color: _palette(accent2, bg);
    cursor: default;
    height: 3.7em;
    left: 0;
    line-height: _size(line-height-large);
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: _misc(z-index-base) + 1;
    border-bottom: solid 1px _palette(border);

    .searchbox{
        width: auto;
    }

    > h1 {
        color: _palette(accent2, bg);
        display: inline-block;
        height: inherit;
        // left: 1.25em;
        // position: absolute;
        line-height: inherit;
        margin: 0;
        padding: 0 0 0 1em;
        top: 0;
        border-right: solid 1px _palette(border);
        font-size: _font(font-size-normal);

        a {
            font-size: _font(font-size-medium); 
        }
    }

    .links{
        display: inline-block;

        > a {
            border-right: solid 1px _palette(border);
        }

        .search {
            display: inline-block;
            text-align: right;
            position: absolute;
            top: 0;
            right: 10px;
            border-left: solid 1px _palette(border);
            padding-left: 1.25em;
            input{
                margin-left:10px;
            }
        }
    }

    a {
        @include vendor('transition', 'color #{_duration(transition)} ease-in-out');
        // display: inline-block;
        padding: 0 0.75em;
        color: inherit;
        text-decoration: none;

        &:hover {
            color: _palette(accent2, fg);
        }

        &[href="#nav"] {
            @include icon('\f0c9');
            -webkit-tap-highlight-color: rgba(0,0,0,0);

            &:before {
                // margin: 0 0.5em 0 0;
            }
        }

        &[href="#nav"]:last-child {
            border-left: solid 1px _palette(border);
            padding-left: 1.25em;
            margin-left: 0.5em;
            position: absolute;
            right: 0;
        }

        &:last-child {
            padding-right: 1.25em;
        }

        @include bb-rows-breakpoint-up(small) {
            padding: 0 0.5em;

            & + a[href="#nav"]:last-child {
                padding-left: 1em;
                margin-left: 0.25em;
            }

            &:last-child {
                padding-right: 1em;
            }
        }

    }
}

@include bb-rows-breakpoint-up(medium) {
    body {
        padding-top: 44px;
    }

    header {
        height: 44px;
        line-height: _size(line-height-large);

        > h1 {
            left: 1em;

            a {
                font-size: _font(font-size-normal); 
            }
        }
    }
}

@include bb-rows-breakpoint-up(x-small) {
    header {
        min-width: 320px;
    }
}
