@charset "UTF-8";
/**
 *  Rows
 *
 *  @copyright Copyright (c) 2018, Bit&Black
 *  @author Tobias Köngeter <tobias.koengeter@bitandblack.com>
 *  @link http://www.bitandblack.com
 */
.bb-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -ms-flex-line-pack: start;
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: stretch;
  align-items: stretch;
  margin-left: -0.5em;
  margin-right: -0.5em;
}

.bb-row .bb-row__cell {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

@media all {
  .bb-row .bb-row__cell--cell1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .bb-row .bb-row__cell--cell2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .bb-row .bb-row__cell--cell3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .bb-row .bb-row__cell--cell4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .bb-row .bb-row__cell--cell5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .bb-row .bb-row__cell--cell6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .bb-row .bb-row__cell--cell7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .bb-row .bb-row__cell--cell8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .bb-row .bb-row__cell--cell9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .bb-row .bb-row__cell--cell10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .bb-row .bb-row__cell--cell11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .bb-row .bb-row__cell--cell12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .bb-row .bb-row__cell--leftMarginCell1,
  .bb-row .bb-row__cell--leftMarginCell1:first-child,
  .bb-row .bb-row__cell--leftMarginCell1:last-child {
    margin-left: 8.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell1,
  .bb-row .bb-row__cell--rightMarginCell1:last-child,
  .bb-row .bb-row__cell--rightMarginCell1:first-child {
    margin-right: 8.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell2,
  .bb-row .bb-row__cell--leftMarginCell2:first-child,
  .bb-row .bb-row__cell--leftMarginCell2:last-child {
    margin-left: 16.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell2,
  .bb-row .bb-row__cell--rightMarginCell2:last-child,
  .bb-row .bb-row__cell--rightMarginCell2:first-child {
    margin-right: 16.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell3,
  .bb-row .bb-row__cell--leftMarginCell3:first-child,
  .bb-row .bb-row__cell--leftMarginCell3:last-child {
    margin-left: 25%;
  }
  .bb-row .bb-row__cell--rightMarginCell3,
  .bb-row .bb-row__cell--rightMarginCell3:last-child,
  .bb-row .bb-row__cell--rightMarginCell3:first-child {
    margin-right: 25%;
  }
  .bb-row .bb-row__cell--leftMarginCell4,
  .bb-row .bb-row__cell--leftMarginCell4:first-child,
  .bb-row .bb-row__cell--leftMarginCell4:last-child {
    margin-left: 33.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell4,
  .bb-row .bb-row__cell--rightMarginCell4:last-child,
  .bb-row .bb-row__cell--rightMarginCell4:first-child {
    margin-right: 33.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell5,
  .bb-row .bb-row__cell--leftMarginCell5:first-child,
  .bb-row .bb-row__cell--leftMarginCell5:last-child {
    margin-left: 41.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell5,
  .bb-row .bb-row__cell--rightMarginCell5:last-child,
  .bb-row .bb-row__cell--rightMarginCell5:first-child {
    margin-right: 41.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell6,
  .bb-row .bb-row__cell--leftMarginCell6:first-child,
  .bb-row .bb-row__cell--leftMarginCell6:last-child {
    margin-left: 50%;
  }
  .bb-row .bb-row__cell--rightMarginCell6,
  .bb-row .bb-row__cell--rightMarginCell6:last-child,
  .bb-row .bb-row__cell--rightMarginCell6:first-child {
    margin-right: 50%;
  }
  .bb-row .bb-row__cell--leftMarginCell7,
  .bb-row .bb-row__cell--leftMarginCell7:first-child,
  .bb-row .bb-row__cell--leftMarginCell7:last-child {
    margin-left: 58.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell7,
  .bb-row .bb-row__cell--rightMarginCell7:last-child,
  .bb-row .bb-row__cell--rightMarginCell7:first-child {
    margin-right: 58.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell8,
  .bb-row .bb-row__cell--leftMarginCell8:first-child,
  .bb-row .bb-row__cell--leftMarginCell8:last-child {
    margin-left: 66.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell8,
  .bb-row .bb-row__cell--rightMarginCell8:last-child,
  .bb-row .bb-row__cell--rightMarginCell8:first-child {
    margin-right: 66.66667%;
  }
  .bb-row .bb-row__cell--leftMarginCell9,
  .bb-row .bb-row__cell--leftMarginCell9:first-child,
  .bb-row .bb-row__cell--leftMarginCell9:last-child {
    margin-left: 75%;
  }
  .bb-row .bb-row__cell--rightMarginCell9,
  .bb-row .bb-row__cell--rightMarginCell9:last-child,
  .bb-row .bb-row__cell--rightMarginCell9:first-child {
    margin-right: 75%;
  }
  .bb-row .bb-row__cell--leftMarginCell10,
  .bb-row .bb-row__cell--leftMarginCell10:first-child,
  .bb-row .bb-row__cell--leftMarginCell10:last-child {
    margin-left: 83.33333%;
  }
  .bb-row .bb-row__cell--rightMarginCell10,
  .bb-row .bb-row__cell--rightMarginCell10:last-child,
  .bb-row .bb-row__cell--rightMarginCell10:first-child {
    margin-right: 83.33333%;
  }
  .bb-row .bb-row__cell--leftMarginCell11,
  .bb-row .bb-row__cell--leftMarginCell11:first-child,
  .bb-row .bb-row__cell--leftMarginCell11:last-child {
    margin-left: 91.66667%;
  }
  .bb-row .bb-row__cell--rightMarginCell11,
  .bb-row .bb-row__cell--rightMarginCell11:last-child,
  .bb-row .bb-row__cell--rightMarginCell11:first-child {
    margin-right: 91.66667%;
  }
  .bb-row .bb-row__cell--order1 {
    -webkit-order: 1;
    order: 1;
  }
  .bb-row .bb-row__cell--order2 {
    -webkit-order: 2;
    order: 2;
  }
  .bb-row .bb-row__cell--order3 {
    -webkit-order: 3;
    order: 3;
  }
  .bb-row .bb-row__cell--order4 {
    -webkit-order: 4;
    order: 4;
  }
  .bb-row .bb-row__cell--order5 {
    -webkit-order: 5;
    order: 5;
  }
  .bb-row .bb-row__cell--order6 {
    -webkit-order: 6;
    order: 6;
  }
  .bb-row .bb-row__cell--order7 {
    -webkit-order: 7;
    order: 7;
  }
  .bb-row .bb-row__cell--order8 {
    -webkit-order: 8;
    order: 8;
  }
  .bb-row .bb-row__cell--order9 {
    -webkit-order: 9;
    order: 9;
  }
  .bb-row .bb-row__cell--order10 {
    -webkit-order: 10;
    order: 10;
  }
  .bb-row .bb-row__cell--order11 {
    -webkit-order: 11;
    order: 11;
  }
  .bb-row .bb-row__cell--order12 {
    -webkit-order: 12;
    order: 12;
  }
}

@media all and (min-width: 480px) {
  .bb-row .bb-row__cell--x-small-cell1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .bb-row .bb-row__cell--x-small-cell2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .bb-row .bb-row__cell--x-small-cell3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .bb-row .bb-row__cell--x-small-cell4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .bb-row .bb-row__cell--x-small-cell5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .bb-row .bb-row__cell--x-small-cell6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .bb-row .bb-row__cell--x-small-cell7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .bb-row .bb-row__cell--x-small-cell8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .bb-row .bb-row__cell--x-small-cell9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .bb-row .bb-row__cell--x-small-cell10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .bb-row .bb-row__cell--x-small-cell11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .bb-row .bb-row__cell--x-small-cell12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .bb-row .bb-row__cell--x-small-leftMarginCell1,
  .bb-row .bb-row__cell--x-small-leftMarginCell1:first-child,
  .bb-row .bb-row__cell--x-small-leftMarginCell1:last-child {
    margin-left: 8.33333%;
  }
  .bb-row .bb-row__cell--x-small-rightMarginCell1,
  .bb-row .bb-row__cell--x-small-rightMarginCell1:last-child,
  .bb-row .bb-row__cell--x-small-rightMarginCell1:first-child {
    margin-right: 8.33333%;
  }
  .bb-row .bb-row__cell--x-small-leftMarginCell2,
  .bb-row .bb-row__cell--x-small-leftMarginCell2:first-child,
  .bb-row .bb-row__cell--x-small-leftMarginCell2:last-child {
    margin-left: 16.66667%;
  }
  .bb-row .bb-row__cell--x-small-rightMarginCell2,
  .bb-row .bb-row__cell--x-small-rightMarginCell2:last-child,
  .bb-row .bb-row__cell--x-small-rightMarginCell2:first-child {
    margin-right: 16.66667%;
  }
  .bb-row .bb-row__cell--x-small-leftMarginCell3,
  .bb-row .bb-row__cell--x-small-leftMarginCell3:first-child,
  .bb-row .bb-row__cell--x-small-leftMarginCell3:last-child {
    margin-left: 25%;
  }
  .bb-row .bb-row__cell--x-small-rightMarginCell3,
  .bb-row .bb-row__cell--x-small-rightMarginCell3:last-child,
  .bb-row .bb-row__cell--x-small-rightMarginCell3:first-child {
    margin-right: 25%;
  }
  .bb-row .bb-row__cell--x-small-leftMarginCell4,
  .bb-row .bb-row__cell--x-small-leftMarginCell4:first-child,
  .bb-row .bb-row__cell--x-small-leftMarginCell4:last-child {
    margin-left: 33.33333%;
  }
  .bb-row .bb-row__cell--x-small-rightMarginCell4,
  .bb-row .bb-row__cell--x-small-rightMarginCell4:last-child,
  .bb-row .bb-row__cell--x-small-rightMarginCell4:first-child {
    margin-right: 33.33333%;
  }
  .bb-row .bb-row__cell--x-small-leftMarginCell5,
  .bb-row .bb-row__cell--x-small-leftMarginCell5:first-child,
  .bb-row .bb-row__cell--x-small-leftMarginCell5:last-child {
    margin-left: 41.66667%;
  }
  .bb-row .bb-row__cell--x-small-rightMarginCell5,
  .bb-row .bb-row__cell--x-small-rightMarginCell5:last-child,
  .bb-row .bb-row__cell--x-small-rightMarginCell5:first-child {
    margin-right: 41.66667%;
  }
  .bb-row .bb-row__cell--x-small-leftMarginCell6,
  .bb-row .bb-row__cell--x-small-leftMarginCell6:first-child,
  .bb-row .bb-row__cell--x-small-leftMarginCell6:last-child {
    margin-left: 50%;
  }
  .bb-row .bb-row__cell--x-small-rightMarginCell6,
  .bb-row .bb-row__cell--x-small-rightMarginCell6:last-child,
  .bb-row .bb-row__cell--x-small-rightMarginCell6:first-child {
    margin-right: 50%;
  }
  .bb-row .bb-row__cell--x-small-leftMarginCell7,
  .bb-row .bb-row__cell--x-small-leftMarginCell7:first-child,
  .bb-row .bb-row__cell--x-small-leftMarginCell7:last-child {
    margin-left: 58.33333%;
  }
  .bb-row .bb-row__cell--x-small-rightMarginCell7,
  .bb-row .bb-row__cell--x-small-rightMarginCell7:last-child,
  .bb-row .bb-row__cell--x-small-rightMarginCell7:first-child {
    margin-right: 58.33333%;
  }
  .bb-row .bb-row__cell--x-small-leftMarginCell8,
  .bb-row .bb-row__cell--x-small-leftMarginCell8:first-child,
  .bb-row .bb-row__cell--x-small-leftMarginCell8:last-child {
    margin-left: 66.66667%;
  }
  .bb-row .bb-row__cell--x-small-rightMarginCell8,
  .bb-row .bb-row__cell--x-small-rightMarginCell8:last-child,
  .bb-row .bb-row__cell--x-small-rightMarginCell8:first-child {
    margin-right: 66.66667%;
  }
  .bb-row .bb-row__cell--x-small-leftMarginCell9,
  .bb-row .bb-row__cell--x-small-leftMarginCell9:first-child,
  .bb-row .bb-row__cell--x-small-leftMarginCell9:last-child {
    margin-left: 75%;
  }
  .bb-row .bb-row__cell--x-small-rightMarginCell9,
  .bb-row .bb-row__cell--x-small-rightMarginCell9:last-child,
  .bb-row .bb-row__cell--x-small-rightMarginCell9:first-child {
    margin-right: 75%;
  }
  .bb-row .bb-row__cell--x-small-leftMarginCell10,
  .bb-row .bb-row__cell--x-small-leftMarginCell10:first-child,
  .bb-row .bb-row__cell--x-small-leftMarginCell10:last-child {
    margin-left: 83.33333%;
  }
  .bb-row .bb-row__cell--x-small-rightMarginCell10,
  .bb-row .bb-row__cell--x-small-rightMarginCell10:last-child,
  .bb-row .bb-row__cell--x-small-rightMarginCell10:first-child {
    margin-right: 83.33333%;
  }
  .bb-row .bb-row__cell--x-small-leftMarginCell11,
  .bb-row .bb-row__cell--x-small-leftMarginCell11:first-child,
  .bb-row .bb-row__cell--x-small-leftMarginCell11:last-child {
    margin-left: 91.66667%;
  }
  .bb-row .bb-row__cell--x-small-rightMarginCell11,
  .bb-row .bb-row__cell--x-small-rightMarginCell11:last-child,
  .bb-row .bb-row__cell--x-small-rightMarginCell11:first-child {
    margin-right: 91.66667%;
  }
  .bb-row .bb-row__cell--x-small-order1 {
    -webkit-order: 1;
    order: 1;
  }
  .bb-row .bb-row__cell--x-small-order2 {
    -webkit-order: 2;
    order: 2;
  }
  .bb-row .bb-row__cell--x-small-order3 {
    -webkit-order: 3;
    order: 3;
  }
  .bb-row .bb-row__cell--x-small-order4 {
    -webkit-order: 4;
    order: 4;
  }
  .bb-row .bb-row__cell--x-small-order5 {
    -webkit-order: 5;
    order: 5;
  }
  .bb-row .bb-row__cell--x-small-order6 {
    -webkit-order: 6;
    order: 6;
  }
  .bb-row .bb-row__cell--x-small-order7 {
    -webkit-order: 7;
    order: 7;
  }
  .bb-row .bb-row__cell--x-small-order8 {
    -webkit-order: 8;
    order: 8;
  }
  .bb-row .bb-row__cell--x-small-order9 {
    -webkit-order: 9;
    order: 9;
  }
  .bb-row .bb-row__cell--x-small-order10 {
    -webkit-order: 10;
    order: 10;
  }
  .bb-row .bb-row__cell--x-small-order11 {
    -webkit-order: 11;
    order: 11;
  }
  .bb-row .bb-row__cell--x-small-order12 {
    -webkit-order: 12;
    order: 12;
  }
}

@media all and (min-width: 736px) {
  .bb-row .bb-row__cell--small-cell1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .bb-row .bb-row__cell--small-cell2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .bb-row .bb-row__cell--small-cell3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .bb-row .bb-row__cell--small-cell4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .bb-row .bb-row__cell--small-cell5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .bb-row .bb-row__cell--small-cell6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .bb-row .bb-row__cell--small-cell7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .bb-row .bb-row__cell--small-cell8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .bb-row .bb-row__cell--small-cell9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .bb-row .bb-row__cell--small-cell10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .bb-row .bb-row__cell--small-cell11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .bb-row .bb-row__cell--small-cell12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .bb-row .bb-row__cell--small-leftMarginCell1,
  .bb-row .bb-row__cell--small-leftMarginCell1:first-child,
  .bb-row .bb-row__cell--small-leftMarginCell1:last-child {
    margin-left: 8.33333%;
  }
  .bb-row .bb-row__cell--small-rightMarginCell1,
  .bb-row .bb-row__cell--small-rightMarginCell1:last-child,
  .bb-row .bb-row__cell--small-rightMarginCell1:first-child {
    margin-right: 8.33333%;
  }
  .bb-row .bb-row__cell--small-leftMarginCell2,
  .bb-row .bb-row__cell--small-leftMarginCell2:first-child,
  .bb-row .bb-row__cell--small-leftMarginCell2:last-child {
    margin-left: 16.66667%;
  }
  .bb-row .bb-row__cell--small-rightMarginCell2,
  .bb-row .bb-row__cell--small-rightMarginCell2:last-child,
  .bb-row .bb-row__cell--small-rightMarginCell2:first-child {
    margin-right: 16.66667%;
  }
  .bb-row .bb-row__cell--small-leftMarginCell3,
  .bb-row .bb-row__cell--small-leftMarginCell3:first-child,
  .bb-row .bb-row__cell--small-leftMarginCell3:last-child {
    margin-left: 25%;
  }
  .bb-row .bb-row__cell--small-rightMarginCell3,
  .bb-row .bb-row__cell--small-rightMarginCell3:last-child,
  .bb-row .bb-row__cell--small-rightMarginCell3:first-child {
    margin-right: 25%;
  }
  .bb-row .bb-row__cell--small-leftMarginCell4,
  .bb-row .bb-row__cell--small-leftMarginCell4:first-child,
  .bb-row .bb-row__cell--small-leftMarginCell4:last-child {
    margin-left: 33.33333%;
  }
  .bb-row .bb-row__cell--small-rightMarginCell4,
  .bb-row .bb-row__cell--small-rightMarginCell4:last-child,
  .bb-row .bb-row__cell--small-rightMarginCell4:first-child {
    margin-right: 33.33333%;
  }
  .bb-row .bb-row__cell--small-leftMarginCell5,
  .bb-row .bb-row__cell--small-leftMarginCell5:first-child,
  .bb-row .bb-row__cell--small-leftMarginCell5:last-child {
    margin-left: 41.66667%;
  }
  .bb-row .bb-row__cell--small-rightMarginCell5,
  .bb-row .bb-row__cell--small-rightMarginCell5:last-child,
  .bb-row .bb-row__cell--small-rightMarginCell5:first-child {
    margin-right: 41.66667%;
  }
  .bb-row .bb-row__cell--small-leftMarginCell6,
  .bb-row .bb-row__cell--small-leftMarginCell6:first-child,
  .bb-row .bb-row__cell--small-leftMarginCell6:last-child {
    margin-left: 50%;
  }
  .bb-row .bb-row__cell--small-rightMarginCell6,
  .bb-row .bb-row__cell--small-rightMarginCell6:last-child,
  .bb-row .bb-row__cell--small-rightMarginCell6:first-child {
    margin-right: 50%;
  }
  .bb-row .bb-row__cell--small-leftMarginCell7,
  .bb-row .bb-row__cell--small-leftMarginCell7:first-child,
  .bb-row .bb-row__cell--small-leftMarginCell7:last-child {
    margin-left: 58.33333%;
  }
  .bb-row .bb-row__cell--small-rightMarginCell7,
  .bb-row .bb-row__cell--small-rightMarginCell7:last-child,
  .bb-row .bb-row__cell--small-rightMarginCell7:first-child {
    margin-right: 58.33333%;
  }
  .bb-row .bb-row__cell--small-leftMarginCell8,
  .bb-row .bb-row__cell--small-leftMarginCell8:first-child,
  .bb-row .bb-row__cell--small-leftMarginCell8:last-child {
    margin-left: 66.66667%;
  }
  .bb-row .bb-row__cell--small-rightMarginCell8,
  .bb-row .bb-row__cell--small-rightMarginCell8:last-child,
  .bb-row .bb-row__cell--small-rightMarginCell8:first-child {
    margin-right: 66.66667%;
  }
  .bb-row .bb-row__cell--small-leftMarginCell9,
  .bb-row .bb-row__cell--small-leftMarginCell9:first-child,
  .bb-row .bb-row__cell--small-leftMarginCell9:last-child {
    margin-left: 75%;
  }
  .bb-row .bb-row__cell--small-rightMarginCell9,
  .bb-row .bb-row__cell--small-rightMarginCell9:last-child,
  .bb-row .bb-row__cell--small-rightMarginCell9:first-child {
    margin-right: 75%;
  }
  .bb-row .bb-row__cell--small-leftMarginCell10,
  .bb-row .bb-row__cell--small-leftMarginCell10:first-child,
  .bb-row .bb-row__cell--small-leftMarginCell10:last-child {
    margin-left: 83.33333%;
  }
  .bb-row .bb-row__cell--small-rightMarginCell10,
  .bb-row .bb-row__cell--small-rightMarginCell10:last-child,
  .bb-row .bb-row__cell--small-rightMarginCell10:first-child {
    margin-right: 83.33333%;
  }
  .bb-row .bb-row__cell--small-leftMarginCell11,
  .bb-row .bb-row__cell--small-leftMarginCell11:first-child,
  .bb-row .bb-row__cell--small-leftMarginCell11:last-child {
    margin-left: 91.66667%;
  }
  .bb-row .bb-row__cell--small-rightMarginCell11,
  .bb-row .bb-row__cell--small-rightMarginCell11:last-child,
  .bb-row .bb-row__cell--small-rightMarginCell11:first-child {
    margin-right: 91.66667%;
  }
  .bb-row .bb-row__cell--small-order1 {
    -webkit-order: 1;
    order: 1;
  }
  .bb-row .bb-row__cell--small-order2 {
    -webkit-order: 2;
    order: 2;
  }
  .bb-row .bb-row__cell--small-order3 {
    -webkit-order: 3;
    order: 3;
  }
  .bb-row .bb-row__cell--small-order4 {
    -webkit-order: 4;
    order: 4;
  }
  .bb-row .bb-row__cell--small-order5 {
    -webkit-order: 5;
    order: 5;
  }
  .bb-row .bb-row__cell--small-order6 {
    -webkit-order: 6;
    order: 6;
  }
  .bb-row .bb-row__cell--small-order7 {
    -webkit-order: 7;
    order: 7;
  }
  .bb-row .bb-row__cell--small-order8 {
    -webkit-order: 8;
    order: 8;
  }
  .bb-row .bb-row__cell--small-order9 {
    -webkit-order: 9;
    order: 9;
  }
  .bb-row .bb-row__cell--small-order10 {
    -webkit-order: 10;
    order: 10;
  }
  .bb-row .bb-row__cell--small-order11 {
    -webkit-order: 11;
    order: 11;
  }
  .bb-row .bb-row__cell--small-order12 {
    -webkit-order: 12;
    order: 12;
  }
}

@media all and (min-width: 980px) {
  .bb-row .bb-row__cell--medium-cell1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .bb-row .bb-row__cell--medium-cell2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .bb-row .bb-row__cell--medium-cell3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .bb-row .bb-row__cell--medium-cell4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .bb-row .bb-row__cell--medium-cell5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .bb-row .bb-row__cell--medium-cell6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .bb-row .bb-row__cell--medium-cell7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .bb-row .bb-row__cell--medium-cell8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .bb-row .bb-row__cell--medium-cell9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .bb-row .bb-row__cell--medium-cell10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .bb-row .bb-row__cell--medium-cell11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .bb-row .bb-row__cell--medium-cell12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .bb-row .bb-row__cell--medium-leftMarginCell1,
  .bb-row .bb-row__cell--medium-leftMarginCell1:first-child,
  .bb-row .bb-row__cell--medium-leftMarginCell1:last-child {
    margin-left: 8.33333%;
  }
  .bb-row .bb-row__cell--medium-rightMarginCell1,
  .bb-row .bb-row__cell--medium-rightMarginCell1:last-child,
  .bb-row .bb-row__cell--medium-rightMarginCell1:first-child {
    margin-right: 8.33333%;
  }
  .bb-row .bb-row__cell--medium-leftMarginCell2,
  .bb-row .bb-row__cell--medium-leftMarginCell2:first-child,
  .bb-row .bb-row__cell--medium-leftMarginCell2:last-child {
    margin-left: 16.66667%;
  }
  .bb-row .bb-row__cell--medium-rightMarginCell2,
  .bb-row .bb-row__cell--medium-rightMarginCell2:last-child,
  .bb-row .bb-row__cell--medium-rightMarginCell2:first-child {
    margin-right: 16.66667%;
  }
  .bb-row .bb-row__cell--medium-leftMarginCell3,
  .bb-row .bb-row__cell--medium-leftMarginCell3:first-child,
  .bb-row .bb-row__cell--medium-leftMarginCell3:last-child {
    margin-left: 25%;
  }
  .bb-row .bb-row__cell--medium-rightMarginCell3,
  .bb-row .bb-row__cell--medium-rightMarginCell3:last-child,
  .bb-row .bb-row__cell--medium-rightMarginCell3:first-child {
    margin-right: 25%;
  }
  .bb-row .bb-row__cell--medium-leftMarginCell4,
  .bb-row .bb-row__cell--medium-leftMarginCell4:first-child,
  .bb-row .bb-row__cell--medium-leftMarginCell4:last-child {
    margin-left: 33.33333%;
  }
  .bb-row .bb-row__cell--medium-rightMarginCell4,
  .bb-row .bb-row__cell--medium-rightMarginCell4:last-child,
  .bb-row .bb-row__cell--medium-rightMarginCell4:first-child {
    margin-right: 33.33333%;
  }
  .bb-row .bb-row__cell--medium-leftMarginCell5,
  .bb-row .bb-row__cell--medium-leftMarginCell5:first-child,
  .bb-row .bb-row__cell--medium-leftMarginCell5:last-child {
    margin-left: 41.66667%;
  }
  .bb-row .bb-row__cell--medium-rightMarginCell5,
  .bb-row .bb-row__cell--medium-rightMarginCell5:last-child,
  .bb-row .bb-row__cell--medium-rightMarginCell5:first-child {
    margin-right: 41.66667%;
  }
  .bb-row .bb-row__cell--medium-leftMarginCell6,
  .bb-row .bb-row__cell--medium-leftMarginCell6:first-child,
  .bb-row .bb-row__cell--medium-leftMarginCell6:last-child {
    margin-left: 50%;
  }
  .bb-row .bb-row__cell--medium-rightMarginCell6,
  .bb-row .bb-row__cell--medium-rightMarginCell6:last-child,
  .bb-row .bb-row__cell--medium-rightMarginCell6:first-child {
    margin-right: 50%;
  }
  .bb-row .bb-row__cell--medium-leftMarginCell7,
  .bb-row .bb-row__cell--medium-leftMarginCell7:first-child,
  .bb-row .bb-row__cell--medium-leftMarginCell7:last-child {
    margin-left: 58.33333%;
  }
  .bb-row .bb-row__cell--medium-rightMarginCell7,
  .bb-row .bb-row__cell--medium-rightMarginCell7:last-child,
  .bb-row .bb-row__cell--medium-rightMarginCell7:first-child {
    margin-right: 58.33333%;
  }
  .bb-row .bb-row__cell--medium-leftMarginCell8,
  .bb-row .bb-row__cell--medium-leftMarginCell8:first-child,
  .bb-row .bb-row__cell--medium-leftMarginCell8:last-child {
    margin-left: 66.66667%;
  }
  .bb-row .bb-row__cell--medium-rightMarginCell8,
  .bb-row .bb-row__cell--medium-rightMarginCell8:last-child,
  .bb-row .bb-row__cell--medium-rightMarginCell8:first-child {
    margin-right: 66.66667%;
  }
  .bb-row .bb-row__cell--medium-leftMarginCell9,
  .bb-row .bb-row__cell--medium-leftMarginCell9:first-child,
  .bb-row .bb-row__cell--medium-leftMarginCell9:last-child {
    margin-left: 75%;
  }
  .bb-row .bb-row__cell--medium-rightMarginCell9,
  .bb-row .bb-row__cell--medium-rightMarginCell9:last-child,
  .bb-row .bb-row__cell--medium-rightMarginCell9:first-child {
    margin-right: 75%;
  }
  .bb-row .bb-row__cell--medium-leftMarginCell10,
  .bb-row .bb-row__cell--medium-leftMarginCell10:first-child,
  .bb-row .bb-row__cell--medium-leftMarginCell10:last-child {
    margin-left: 83.33333%;
  }
  .bb-row .bb-row__cell--medium-rightMarginCell10,
  .bb-row .bb-row__cell--medium-rightMarginCell10:last-child,
  .bb-row .bb-row__cell--medium-rightMarginCell10:first-child {
    margin-right: 83.33333%;
  }
  .bb-row .bb-row__cell--medium-leftMarginCell11,
  .bb-row .bb-row__cell--medium-leftMarginCell11:first-child,
  .bb-row .bb-row__cell--medium-leftMarginCell11:last-child {
    margin-left: 91.66667%;
  }
  .bb-row .bb-row__cell--medium-rightMarginCell11,
  .bb-row .bb-row__cell--medium-rightMarginCell11:last-child,
  .bb-row .bb-row__cell--medium-rightMarginCell11:first-child {
    margin-right: 91.66667%;
  }
  .bb-row .bb-row__cell--medium-order1 {
    -webkit-order: 1;
    order: 1;
  }
  .bb-row .bb-row__cell--medium-order2 {
    -webkit-order: 2;
    order: 2;
  }
  .bb-row .bb-row__cell--medium-order3 {
    -webkit-order: 3;
    order: 3;
  }
  .bb-row .bb-row__cell--medium-order4 {
    -webkit-order: 4;
    order: 4;
  }
  .bb-row .bb-row__cell--medium-order5 {
    -webkit-order: 5;
    order: 5;
  }
  .bb-row .bb-row__cell--medium-order6 {
    -webkit-order: 6;
    order: 6;
  }
  .bb-row .bb-row__cell--medium-order7 {
    -webkit-order: 7;
    order: 7;
  }
  .bb-row .bb-row__cell--medium-order8 {
    -webkit-order: 8;
    order: 8;
  }
  .bb-row .bb-row__cell--medium-order9 {
    -webkit-order: 9;
    order: 9;
  }
  .bb-row .bb-row__cell--medium-order10 {
    -webkit-order: 10;
    order: 10;
  }
  .bb-row .bb-row__cell--medium-order11 {
    -webkit-order: 11;
    order: 11;
  }
  .bb-row .bb-row__cell--medium-order12 {
    -webkit-order: 12;
    order: 12;
  }
}

@media all and (min-width: 1280px) {
  .bb-row .bb-row__cell--large-cell1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .bb-row .bb-row__cell--large-cell2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .bb-row .bb-row__cell--large-cell3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .bb-row .bb-row__cell--large-cell4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .bb-row .bb-row__cell--large-cell5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .bb-row .bb-row__cell--large-cell6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .bb-row .bb-row__cell--large-cell7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .bb-row .bb-row__cell--large-cell8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .bb-row .bb-row__cell--large-cell9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .bb-row .bb-row__cell--large-cell10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .bb-row .bb-row__cell--large-cell11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .bb-row .bb-row__cell--large-cell12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .bb-row .bb-row__cell--large-leftMarginCell1,
  .bb-row .bb-row__cell--large-leftMarginCell1:first-child,
  .bb-row .bb-row__cell--large-leftMarginCell1:last-child {
    margin-left: 8.33333%;
  }
  .bb-row .bb-row__cell--large-rightMarginCell1,
  .bb-row .bb-row__cell--large-rightMarginCell1:last-child,
  .bb-row .bb-row__cell--large-rightMarginCell1:first-child {
    margin-right: 8.33333%;
  }
  .bb-row .bb-row__cell--large-leftMarginCell2,
  .bb-row .bb-row__cell--large-leftMarginCell2:first-child,
  .bb-row .bb-row__cell--large-leftMarginCell2:last-child {
    margin-left: 16.66667%;
  }
  .bb-row .bb-row__cell--large-rightMarginCell2,
  .bb-row .bb-row__cell--large-rightMarginCell2:last-child,
  .bb-row .bb-row__cell--large-rightMarginCell2:first-child {
    margin-right: 16.66667%;
  }
  .bb-row .bb-row__cell--large-leftMarginCell3,
  .bb-row .bb-row__cell--large-leftMarginCell3:first-child,
  .bb-row .bb-row__cell--large-leftMarginCell3:last-child {
    margin-left: 25%;
  }
  .bb-row .bb-row__cell--large-rightMarginCell3,
  .bb-row .bb-row__cell--large-rightMarginCell3:last-child,
  .bb-row .bb-row__cell--large-rightMarginCell3:first-child {
    margin-right: 25%;
  }
  .bb-row .bb-row__cell--large-leftMarginCell4,
  .bb-row .bb-row__cell--large-leftMarginCell4:first-child,
  .bb-row .bb-row__cell--large-leftMarginCell4:last-child {
    margin-left: 33.33333%;
  }
  .bb-row .bb-row__cell--large-rightMarginCell4,
  .bb-row .bb-row__cell--large-rightMarginCell4:last-child,
  .bb-row .bb-row__cell--large-rightMarginCell4:first-child {
    margin-right: 33.33333%;
  }
  .bb-row .bb-row__cell--large-leftMarginCell5,
  .bb-row .bb-row__cell--large-leftMarginCell5:first-child,
  .bb-row .bb-row__cell--large-leftMarginCell5:last-child {
    margin-left: 41.66667%;
  }
  .bb-row .bb-row__cell--large-rightMarginCell5,
  .bb-row .bb-row__cell--large-rightMarginCell5:last-child,
  .bb-row .bb-row__cell--large-rightMarginCell5:first-child {
    margin-right: 41.66667%;
  }
  .bb-row .bb-row__cell--large-leftMarginCell6,
  .bb-row .bb-row__cell--large-leftMarginCell6:first-child,
  .bb-row .bb-row__cell--large-leftMarginCell6:last-child {
    margin-left: 50%;
  }
  .bb-row .bb-row__cell--large-rightMarginCell6,
  .bb-row .bb-row__cell--large-rightMarginCell6:last-child,
  .bb-row .bb-row__cell--large-rightMarginCell6:first-child {
    margin-right: 50%;
  }
  .bb-row .bb-row__cell--large-leftMarginCell7,
  .bb-row .bb-row__cell--large-leftMarginCell7:first-child,
  .bb-row .bb-row__cell--large-leftMarginCell7:last-child {
    margin-left: 58.33333%;
  }
  .bb-row .bb-row__cell--large-rightMarginCell7,
  .bb-row .bb-row__cell--large-rightMarginCell7:last-child,
  .bb-row .bb-row__cell--large-rightMarginCell7:first-child {
    margin-right: 58.33333%;
  }
  .bb-row .bb-row__cell--large-leftMarginCell8,
  .bb-row .bb-row__cell--large-leftMarginCell8:first-child,
  .bb-row .bb-row__cell--large-leftMarginCell8:last-child {
    margin-left: 66.66667%;
  }
  .bb-row .bb-row__cell--large-rightMarginCell8,
  .bb-row .bb-row__cell--large-rightMarginCell8:last-child,
  .bb-row .bb-row__cell--large-rightMarginCell8:first-child {
    margin-right: 66.66667%;
  }
  .bb-row .bb-row__cell--large-leftMarginCell9,
  .bb-row .bb-row__cell--large-leftMarginCell9:first-child,
  .bb-row .bb-row__cell--large-leftMarginCell9:last-child {
    margin-left: 75%;
  }
  .bb-row .bb-row__cell--large-rightMarginCell9,
  .bb-row .bb-row__cell--large-rightMarginCell9:last-child,
  .bb-row .bb-row__cell--large-rightMarginCell9:first-child {
    margin-right: 75%;
  }
  .bb-row .bb-row__cell--large-leftMarginCell10,
  .bb-row .bb-row__cell--large-leftMarginCell10:first-child,
  .bb-row .bb-row__cell--large-leftMarginCell10:last-child {
    margin-left: 83.33333%;
  }
  .bb-row .bb-row__cell--large-rightMarginCell10,
  .bb-row .bb-row__cell--large-rightMarginCell10:last-child,
  .bb-row .bb-row__cell--large-rightMarginCell10:first-child {
    margin-right: 83.33333%;
  }
  .bb-row .bb-row__cell--large-leftMarginCell11,
  .bb-row .bb-row__cell--large-leftMarginCell11:first-child,
  .bb-row .bb-row__cell--large-leftMarginCell11:last-child {
    margin-left: 91.66667%;
  }
  .bb-row .bb-row__cell--large-rightMarginCell11,
  .bb-row .bb-row__cell--large-rightMarginCell11:last-child,
  .bb-row .bb-row__cell--large-rightMarginCell11:first-child {
    margin-right: 91.66667%;
  }
  .bb-row .bb-row__cell--large-order1 {
    -webkit-order: 1;
    order: 1;
  }
  .bb-row .bb-row__cell--large-order2 {
    -webkit-order: 2;
    order: 2;
  }
  .bb-row .bb-row__cell--large-order3 {
    -webkit-order: 3;
    order: 3;
  }
  .bb-row .bb-row__cell--large-order4 {
    -webkit-order: 4;
    order: 4;
  }
  .bb-row .bb-row__cell--large-order5 {
    -webkit-order: 5;
    order: 5;
  }
  .bb-row .bb-row__cell--large-order6 {
    -webkit-order: 6;
    order: 6;
  }
  .bb-row .bb-row__cell--large-order7 {
    -webkit-order: 7;
    order: 7;
  }
  .bb-row .bb-row__cell--large-order8 {
    -webkit-order: 8;
    order: 8;
  }
  .bb-row .bb-row__cell--large-order9 {
    -webkit-order: 9;
    order: 9;
  }
  .bb-row .bb-row__cell--large-order10 {
    -webkit-order: 10;
    order: 10;
  }
  .bb-row .bb-row__cell--large-order11 {
    -webkit-order: 11;
    order: 11;
  }
  .bb-row .bb-row__cell--large-order12 {
    -webkit-order: 12;
    order: 12;
  }
}

@media all and (min-width: 1680px) {
  .bb-row .bb-row__cell--x-large-cell1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .bb-row .bb-row__cell--x-large-cell2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .bb-row .bb-row__cell--x-large-cell3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .bb-row .bb-row__cell--x-large-cell4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%;
  }
  .bb-row .bb-row__cell--x-large-cell5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .bb-row .bb-row__cell--x-large-cell6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .bb-row .bb-row__cell--x-large-cell7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%;
  }
  .bb-row .bb-row__cell--x-large-cell8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .bb-row .bb-row__cell--x-large-cell9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .bb-row .bb-row__cell--x-large-cell10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%;
  }
  .bb-row .bb-row__cell--x-large-cell11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .bb-row .bb-row__cell--x-large-cell12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .bb-row .bb-row__cell--x-large-leftMarginCell1,
  .bb-row .bb-row__cell--x-large-leftMarginCell1:first-child,
  .bb-row .bb-row__cell--x-large-leftMarginCell1:last-child {
    margin-left: 8.33333%;
  }
  .bb-row .bb-row__cell--x-large-rightMarginCell1,
  .bb-row .bb-row__cell--x-large-rightMarginCell1:last-child,
  .bb-row .bb-row__cell--x-large-rightMarginCell1:first-child {
    margin-right: 8.33333%;
  }
  .bb-row .bb-row__cell--x-large-leftMarginCell2,
  .bb-row .bb-row__cell--x-large-leftMarginCell2:first-child,
  .bb-row .bb-row__cell--x-large-leftMarginCell2:last-child {
    margin-left: 16.66667%;
  }
  .bb-row .bb-row__cell--x-large-rightMarginCell2,
  .bb-row .bb-row__cell--x-large-rightMarginCell2:last-child,
  .bb-row .bb-row__cell--x-large-rightMarginCell2:first-child {
    margin-right: 16.66667%;
  }
  .bb-row .bb-row__cell--x-large-leftMarginCell3,
  .bb-row .bb-row__cell--x-large-leftMarginCell3:first-child,
  .bb-row .bb-row__cell--x-large-leftMarginCell3:last-child {
    margin-left: 25%;
  }
  .bb-row .bb-row__cell--x-large-rightMarginCell3,
  .bb-row .bb-row__cell--x-large-rightMarginCell3:last-child,
  .bb-row .bb-row__cell--x-large-rightMarginCell3:first-child {
    margin-right: 25%;
  }
  .bb-row .bb-row__cell--x-large-leftMarginCell4,
  .bb-row .bb-row__cell--x-large-leftMarginCell4:first-child,
  .bb-row .bb-row__cell--x-large-leftMarginCell4:last-child {
    margin-left: 33.33333%;
  }
  .bb-row .bb-row__cell--x-large-rightMarginCell4,
  .bb-row .bb-row__cell--x-large-rightMarginCell4:last-child,
  .bb-row .bb-row__cell--x-large-rightMarginCell4:first-child {
    margin-right: 33.33333%;
  }
  .bb-row .bb-row__cell--x-large-leftMarginCell5,
  .bb-row .bb-row__cell--x-large-leftMarginCell5:first-child,
  .bb-row .bb-row__cell--x-large-leftMarginCell5:last-child {
    margin-left: 41.66667%;
  }
  .bb-row .bb-row__cell--x-large-rightMarginCell5,
  .bb-row .bb-row__cell--x-large-rightMarginCell5:last-child,
  .bb-row .bb-row__cell--x-large-rightMarginCell5:first-child {
    margin-right: 41.66667%;
  }
  .bb-row .bb-row__cell--x-large-leftMarginCell6,
  .bb-row .bb-row__cell--x-large-leftMarginCell6:first-child,
  .bb-row .bb-row__cell--x-large-leftMarginCell6:last-child {
    margin-left: 50%;
  }
  .bb-row .bb-row__cell--x-large-rightMarginCell6,
  .bb-row .bb-row__cell--x-large-rightMarginCell6:last-child,
  .bb-row .bb-row__cell--x-large-rightMarginCell6:first-child {
    margin-right: 50%;
  }
  .bb-row .bb-row__cell--x-large-leftMarginCell7,
  .bb-row .bb-row__cell--x-large-leftMarginCell7:first-child,
  .bb-row .bb-row__cell--x-large-leftMarginCell7:last-child {
    margin-left: 58.33333%;
  }
  .bb-row .bb-row__cell--x-large-rightMarginCell7,
  .bb-row .bb-row__cell--x-large-rightMarginCell7:last-child,
  .bb-row .bb-row__cell--x-large-rightMarginCell7:first-child {
    margin-right: 58.33333%;
  }
  .bb-row .bb-row__cell--x-large-leftMarginCell8,
  .bb-row .bb-row__cell--x-large-leftMarginCell8:first-child,
  .bb-row .bb-row__cell--x-large-leftMarginCell8:last-child {
    margin-left: 66.66667%;
  }
  .bb-row .bb-row__cell--x-large-rightMarginCell8,
  .bb-row .bb-row__cell--x-large-rightMarginCell8:last-child,
  .bb-row .bb-row__cell--x-large-rightMarginCell8:first-child {
    margin-right: 66.66667%;
  }
  .bb-row .bb-row__cell--x-large-leftMarginCell9,
  .bb-row .bb-row__cell--x-large-leftMarginCell9:first-child,
  .bb-row .bb-row__cell--x-large-leftMarginCell9:last-child {
    margin-left: 75%;
  }
  .bb-row .bb-row__cell--x-large-rightMarginCell9,
  .bb-row .bb-row__cell--x-large-rightMarginCell9:last-child,
  .bb-row .bb-row__cell--x-large-rightMarginCell9:first-child {
    margin-right: 75%;
  }
  .bb-row .bb-row__cell--x-large-leftMarginCell10,
  .bb-row .bb-row__cell--x-large-leftMarginCell10:first-child,
  .bb-row .bb-row__cell--x-large-leftMarginCell10:last-child {
    margin-left: 83.33333%;
  }
  .bb-row .bb-row__cell--x-large-rightMarginCell10,
  .bb-row .bb-row__cell--x-large-rightMarginCell10:last-child,
  .bb-row .bb-row__cell--x-large-rightMarginCell10:first-child {
    margin-right: 83.33333%;
  }
  .bb-row .bb-row__cell--x-large-leftMarginCell11,
  .bb-row .bb-row__cell--x-large-leftMarginCell11:first-child,
  .bb-row .bb-row__cell--x-large-leftMarginCell11:last-child {
    margin-left: 91.66667%;
  }
  .bb-row .bb-row__cell--x-large-rightMarginCell11,
  .bb-row .bb-row__cell--x-large-rightMarginCell11:last-child,
  .bb-row .bb-row__cell--x-large-rightMarginCell11:first-child {
    margin-right: 91.66667%;
  }
  .bb-row .bb-row__cell--x-large-order1 {
    -webkit-order: 1;
    order: 1;
  }
  .bb-row .bb-row__cell--x-large-order2 {
    -webkit-order: 2;
    order: 2;
  }
  .bb-row .bb-row__cell--x-large-order3 {
    -webkit-order: 3;
    order: 3;
  }
  .bb-row .bb-row__cell--x-large-order4 {
    -webkit-order: 4;
    order: 4;
  }
  .bb-row .bb-row__cell--x-large-order5 {
    -webkit-order: 5;
    order: 5;
  }
  .bb-row .bb-row__cell--x-large-order6 {
    -webkit-order: 6;
    order: 6;
  }
  .bb-row .bb-row__cell--x-large-order7 {
    -webkit-order: 7;
    order: 7;
  }
  .bb-row .bb-row__cell--x-large-order8 {
    -webkit-order: 8;
    order: 8;
  }
  .bb-row .bb-row__cell--x-large-order9 {
    -webkit-order: 9;
    order: 9;
  }
  .bb-row .bb-row__cell--x-large-order10 {
    -webkit-order: 10;
    order: 10;
  }
  .bb-row .bb-row__cell--x-large-order11 {
    -webkit-order: 11;
    order: 11;
  }
  .bb-row .bb-row__cell--x-large-order12 {
    -webkit-order: 12;
    order: 12;
  }
}

@media all {
  .bb-m-0 {
    margin: 0em;
  }
  .bb-mx-0 {
    margin-left: 0em;
    margin-right: 0em;
  }
  .bb-mt-0 {
    margin-top: 0em;
  }
  .bb-mr-0 {
    margin-right: 0em;
  }
  .bb-mb-0 {
    margin-bottom: 0em;
  }
  .bb-ml-0 {
    margin-left: 0em;
  }
  .bb-p-0 {
    padding: 0em;
  }
  .bb-px-0 {
    padding-left: 0em;
    padding-right: 0em;
  }
  .bb-pt-0 {
    padding-top: 0em;
  }
  .bb-pr-0 {
    padding-right: 0em;
  }
  .bb-pb-0 {
    padding-bottom: 0em;
  }
  .bb-pl-0 {
    padding-left: 0em;
  }
  .bb-m-1 {
    margin: 1em;
  }
  .bb-mx-1 {
    margin-left: 1em;
    margin-right: 1em;
  }
  .bb-mt-1 {
    margin-top: 1em;
  }
  .bb-mr-1 {
    margin-right: 1em;
  }
  .bb-mb-1 {
    margin-bottom: 1em;
  }
  .bb-ml-1 {
    margin-left: 1em;
  }
  .bb-p-1 {
    padding: 1em;
  }
  .bb-px-1 {
    padding-left: 1em;
    padding-right: 1em;
  }
  .bb-pt-1 {
    padding-top: 1em;
  }
  .bb-pr-1 {
    padding-right: 1em;
  }
  .bb-pb-1 {
    padding-bottom: 1em;
  }
  .bb-pl-1 {
    padding-left: 1em;
  }
  .bb-m-2 {
    margin: 2em;
  }
  .bb-mx-2 {
    margin-left: 2em;
    margin-right: 2em;
  }
  .bb-mt-2 {
    margin-top: 2em;
  }
  .bb-mr-2 {
    margin-right: 2em;
  }
  .bb-mb-2 {
    margin-bottom: 2em;
  }
  .bb-ml-2 {
    margin-left: 2em;
  }
  .bb-p-2 {
    padding: 2em;
  }
  .bb-px-2 {
    padding-left: 2em;
    padding-right: 2em;
  }
  .bb-pt-2 {
    padding-top: 2em;
  }
  .bb-pr-2 {
    padding-right: 2em;
  }
  .bb-pb-2 {
    padding-bottom: 2em;
  }
  .bb-pl-2 {
    padding-left: 2em;
  }
  .bb-m-3 {
    margin: 3em;
  }
  .bb-mx-3 {
    margin-left: 3em;
    margin-right: 3em;
  }
  .bb-mt-3 {
    margin-top: 3em;
  }
  .bb-mr-3 {
    margin-right: 3em;
  }
  .bb-mb-3 {
    margin-bottom: 3em;
  }
  .bb-ml-3 {
    margin-left: 3em;
  }
  .bb-p-3 {
    padding: 3em;
  }
  .bb-px-3 {
    padding-left: 3em;
    padding-right: 3em;
  }
  .bb-pt-3 {
    padding-top: 3em;
  }
  .bb-pr-3 {
    padding-right: 3em;
  }
  .bb-pb-3 {
    padding-bottom: 3em;
  }
  .bb-pl-3 {
    padding-left: 3em;
  }
  .bb-m-4 {
    margin: 4em;
  }
  .bb-mx-4 {
    margin-left: 4em;
    margin-right: 4em;
  }
  .bb-mt-4 {
    margin-top: 4em;
  }
  .bb-mr-4 {
    margin-right: 4em;
  }
  .bb-mb-4 {
    margin-bottom: 4em;
  }
  .bb-ml-4 {
    margin-left: 4em;
  }
  .bb-p-4 {
    padding: 4em;
  }
  .bb-px-4 {
    padding-left: 4em;
    padding-right: 4em;
  }
  .bb-pt-4 {
    padding-top: 4em;
  }
  .bb-pr-4 {
    padding-right: 4em;
  }
  .bb-pb-4 {
    padding-bottom: 4em;
  }
  .bb-pl-4 {
    padding-left: 4em;
  }
  .bb-m-5 {
    margin: 5em;
  }
  .bb-mx-5 {
    margin-left: 5em;
    margin-right: 5em;
  }
  .bb-mt-5 {
    margin-top: 5em;
  }
  .bb-mr-5 {
    margin-right: 5em;
  }
  .bb-mb-5 {
    margin-bottom: 5em;
  }
  .bb-ml-5 {
    margin-left: 5em;
  }
  .bb-p-5 {
    padding: 5em;
  }
  .bb-px-5 {
    padding-left: 5em;
    padding-right: 5em;
  }
  .bb-pt-5 {
    padding-top: 5em;
  }
  .bb-pr-5 {
    padding-right: 5em;
  }
  .bb-pb-5 {
    padding-bottom: 5em;
  }
  .bb-pl-5 {
    padding-left: 5em;
  }
}

@media all and (min-width: 480px) {
  .bb-m-x-small-0 {
    margin: 0em;
  }
  .bb-mx-x-small-0 {
    margin-left: 0em;
    margin-right: 0em;
  }
  .bb-mt-x-small-0 {
    margin-top: 0em;
  }
  .bb-mr-x-small-0 {
    margin-right: 0em;
  }
  .bb-mb-x-small-0 {
    margin-bottom: 0em;
  }
  .bb-ml-x-small-0 {
    margin-left: 0em;
  }
  .bb-p-x-small-0 {
    padding: 0em;
  }
  .bb-px-x-small-0 {
    padding-left: 0em;
    padding-right: 0em;
  }
  .bb-pt-x-small-0 {
    padding-top: 0em;
  }
  .bb-pr-x-small-0 {
    padding-right: 0em;
  }
  .bb-pb-x-small-0 {
    padding-bottom: 0em;
  }
  .bb-pl-x-small-0 {
    padding-left: 0em;
  }
  .bb-m-x-small-1 {
    margin: 1em;
  }
  .bb-mx-x-small-1 {
    margin-left: 1em;
    margin-right: 1em;
  }
  .bb-mt-x-small-1 {
    margin-top: 1em;
  }
  .bb-mr-x-small-1 {
    margin-right: 1em;
  }
  .bb-mb-x-small-1 {
    margin-bottom: 1em;
  }
  .bb-ml-x-small-1 {
    margin-left: 1em;
  }
  .bb-p-x-small-1 {
    padding: 1em;
  }
  .bb-px-x-small-1 {
    padding-left: 1em;
    padding-right: 1em;
  }
  .bb-pt-x-small-1 {
    padding-top: 1em;
  }
  .bb-pr-x-small-1 {
    padding-right: 1em;
  }
  .bb-pb-x-small-1 {
    padding-bottom: 1em;
  }
  .bb-pl-x-small-1 {
    padding-left: 1em;
  }
  .bb-m-x-small-2 {
    margin: 2em;
  }
  .bb-mx-x-small-2 {
    margin-left: 2em;
    margin-right: 2em;
  }
  .bb-mt-x-small-2 {
    margin-top: 2em;
  }
  .bb-mr-x-small-2 {
    margin-right: 2em;
  }
  .bb-mb-x-small-2 {
    margin-bottom: 2em;
  }
  .bb-ml-x-small-2 {
    margin-left: 2em;
  }
  .bb-p-x-small-2 {
    padding: 2em;
  }
  .bb-px-x-small-2 {
    padding-left: 2em;
    padding-right: 2em;
  }
  .bb-pt-x-small-2 {
    padding-top: 2em;
  }
  .bb-pr-x-small-2 {
    padding-right: 2em;
  }
  .bb-pb-x-small-2 {
    padding-bottom: 2em;
  }
  .bb-pl-x-small-2 {
    padding-left: 2em;
  }
  .bb-m-x-small-3 {
    margin: 3em;
  }
  .bb-mx-x-small-3 {
    margin-left: 3em;
    margin-right: 3em;
  }
  .bb-mt-x-small-3 {
    margin-top: 3em;
  }
  .bb-mr-x-small-3 {
    margin-right: 3em;
  }
  .bb-mb-x-small-3 {
    margin-bottom: 3em;
  }
  .bb-ml-x-small-3 {
    margin-left: 3em;
  }
  .bb-p-x-small-3 {
    padding: 3em;
  }
  .bb-px-x-small-3 {
    padding-left: 3em;
    padding-right: 3em;
  }
  .bb-pt-x-small-3 {
    padding-top: 3em;
  }
  .bb-pr-x-small-3 {
    padding-right: 3em;
  }
  .bb-pb-x-small-3 {
    padding-bottom: 3em;
  }
  .bb-pl-x-small-3 {
    padding-left: 3em;
  }
  .bb-m-x-small-4 {
    margin: 4em;
  }
  .bb-mx-x-small-4 {
    margin-left: 4em;
    margin-right: 4em;
  }
  .bb-mt-x-small-4 {
    margin-top: 4em;
  }
  .bb-mr-x-small-4 {
    margin-right: 4em;
  }
  .bb-mb-x-small-4 {
    margin-bottom: 4em;
  }
  .bb-ml-x-small-4 {
    margin-left: 4em;
  }
  .bb-p-x-small-4 {
    padding: 4em;
  }
  .bb-px-x-small-4 {
    padding-left: 4em;
    padding-right: 4em;
  }
  .bb-pt-x-small-4 {
    padding-top: 4em;
  }
  .bb-pr-x-small-4 {
    padding-right: 4em;
  }
  .bb-pb-x-small-4 {
    padding-bottom: 4em;
  }
  .bb-pl-x-small-4 {
    padding-left: 4em;
  }
  .bb-m-x-small-5 {
    margin: 5em;
  }
  .bb-mx-x-small-5 {
    margin-left: 5em;
    margin-right: 5em;
  }
  .bb-mt-x-small-5 {
    margin-top: 5em;
  }
  .bb-mr-x-small-5 {
    margin-right: 5em;
  }
  .bb-mb-x-small-5 {
    margin-bottom: 5em;
  }
  .bb-ml-x-small-5 {
    margin-left: 5em;
  }
  .bb-p-x-small-5 {
    padding: 5em;
  }
  .bb-px-x-small-5 {
    padding-left: 5em;
    padding-right: 5em;
  }
  .bb-pt-x-small-5 {
    padding-top: 5em;
  }
  .bb-pr-x-small-5 {
    padding-right: 5em;
  }
  .bb-pb-x-small-5 {
    padding-bottom: 5em;
  }
  .bb-pl-x-small-5 {
    padding-left: 5em;
  }
}

@media all and (min-width: 736px) {
  .bb-m-small-0 {
    margin: 0em;
  }
  .bb-mx-small-0 {
    margin-left: 0em;
    margin-right: 0em;
  }
  .bb-mt-small-0 {
    margin-top: 0em;
  }
  .bb-mr-small-0 {
    margin-right: 0em;
  }
  .bb-mb-small-0 {
    margin-bottom: 0em;
  }
  .bb-ml-small-0 {
    margin-left: 0em;
  }
  .bb-p-small-0 {
    padding: 0em;
  }
  .bb-px-small-0 {
    padding-left: 0em;
    padding-right: 0em;
  }
  .bb-pt-small-0 {
    padding-top: 0em;
  }
  .bb-pr-small-0 {
    padding-right: 0em;
  }
  .bb-pb-small-0 {
    padding-bottom: 0em;
  }
  .bb-pl-small-0 {
    padding-left: 0em;
  }
  .bb-m-small-1 {
    margin: 1em;
  }
  .bb-mx-small-1 {
    margin-left: 1em;
    margin-right: 1em;
  }
  .bb-mt-small-1 {
    margin-top: 1em;
  }
  .bb-mr-small-1 {
    margin-right: 1em;
  }
  .bb-mb-small-1 {
    margin-bottom: 1em;
  }
  .bb-ml-small-1 {
    margin-left: 1em;
  }
  .bb-p-small-1 {
    padding: 1em;
  }
  .bb-px-small-1 {
    padding-left: 1em;
    padding-right: 1em;
  }
  .bb-pt-small-1 {
    padding-top: 1em;
  }
  .bb-pr-small-1 {
    padding-right: 1em;
  }
  .bb-pb-small-1 {
    padding-bottom: 1em;
  }
  .bb-pl-small-1 {
    padding-left: 1em;
  }
  .bb-m-small-2 {
    margin: 2em;
  }
  .bb-mx-small-2 {
    margin-left: 2em;
    margin-right: 2em;
  }
  .bb-mt-small-2 {
    margin-top: 2em;
  }
  .bb-mr-small-2 {
    margin-right: 2em;
  }
  .bb-mb-small-2 {
    margin-bottom: 2em;
  }
  .bb-ml-small-2 {
    margin-left: 2em;
  }
  .bb-p-small-2 {
    padding: 2em;
  }
  .bb-px-small-2 {
    padding-left: 2em;
    padding-right: 2em;
  }
  .bb-pt-small-2 {
    padding-top: 2em;
  }
  .bb-pr-small-2 {
    padding-right: 2em;
  }
  .bb-pb-small-2 {
    padding-bottom: 2em;
  }
  .bb-pl-small-2 {
    padding-left: 2em;
  }
  .bb-m-small-3 {
    margin: 3em;
  }
  .bb-mx-small-3 {
    margin-left: 3em;
    margin-right: 3em;
  }
  .bb-mt-small-3 {
    margin-top: 3em;
  }
  .bb-mr-small-3 {
    margin-right: 3em;
  }
  .bb-mb-small-3 {
    margin-bottom: 3em;
  }
  .bb-ml-small-3 {
    margin-left: 3em;
  }
  .bb-p-small-3 {
    padding: 3em;
  }
  .bb-px-small-3 {
    padding-left: 3em;
    padding-right: 3em;
  }
  .bb-pt-small-3 {
    padding-top: 3em;
  }
  .bb-pr-small-3 {
    padding-right: 3em;
  }
  .bb-pb-small-3 {
    padding-bottom: 3em;
  }
  .bb-pl-small-3 {
    padding-left: 3em;
  }
  .bb-m-small-4 {
    margin: 4em;
  }
  .bb-mx-small-4 {
    margin-left: 4em;
    margin-right: 4em;
  }
  .bb-mt-small-4 {
    margin-top: 4em;
  }
  .bb-mr-small-4 {
    margin-right: 4em;
  }
  .bb-mb-small-4 {
    margin-bottom: 4em;
  }
  .bb-ml-small-4 {
    margin-left: 4em;
  }
  .bb-p-small-4 {
    padding: 4em;
  }
  .bb-px-small-4 {
    padding-left: 4em;
    padding-right: 4em;
  }
  .bb-pt-small-4 {
    padding-top: 4em;
  }
  .bb-pr-small-4 {
    padding-right: 4em;
  }
  .bb-pb-small-4 {
    padding-bottom: 4em;
  }
  .bb-pl-small-4 {
    padding-left: 4em;
  }
  .bb-m-small-5 {
    margin: 5em;
  }
  .bb-mx-small-5 {
    margin-left: 5em;
    margin-right: 5em;
  }
  .bb-mt-small-5 {
    margin-top: 5em;
  }
  .bb-mr-small-5 {
    margin-right: 5em;
  }
  .bb-mb-small-5 {
    margin-bottom: 5em;
  }
  .bb-ml-small-5 {
    margin-left: 5em;
  }
  .bb-p-small-5 {
    padding: 5em;
  }
  .bb-px-small-5 {
    padding-left: 5em;
    padding-right: 5em;
  }
  .bb-pt-small-5 {
    padding-top: 5em;
  }
  .bb-pr-small-5 {
    padding-right: 5em;
  }
  .bb-pb-small-5 {
    padding-bottom: 5em;
  }
  .bb-pl-small-5 {
    padding-left: 5em;
  }
}

@media all and (min-width: 980px) {
  .bb-m-medium-0 {
    margin: 0em;
  }
  .bb-mx-medium-0 {
    margin-left: 0em;
    margin-right: 0em;
  }
  .bb-mt-medium-0 {
    margin-top: 0em;
  }
  .bb-mr-medium-0 {
    margin-right: 0em;
  }
  .bb-mb-medium-0 {
    margin-bottom: 0em;
  }
  .bb-ml-medium-0 {
    margin-left: 0em;
  }
  .bb-p-medium-0 {
    padding: 0em;
  }
  .bb-px-medium-0 {
    padding-left: 0em;
    padding-right: 0em;
  }
  .bb-pt-medium-0 {
    padding-top: 0em;
  }
  .bb-pr-medium-0 {
    padding-right: 0em;
  }
  .bb-pb-medium-0 {
    padding-bottom: 0em;
  }
  .bb-pl-medium-0 {
    padding-left: 0em;
  }
  .bb-m-medium-1 {
    margin: 1em;
  }
  .bb-mx-medium-1 {
    margin-left: 1em;
    margin-right: 1em;
  }
  .bb-mt-medium-1 {
    margin-top: 1em;
  }
  .bb-mr-medium-1 {
    margin-right: 1em;
  }
  .bb-mb-medium-1 {
    margin-bottom: 1em;
  }
  .bb-ml-medium-1 {
    margin-left: 1em;
  }
  .bb-p-medium-1 {
    padding: 1em;
  }
  .bb-px-medium-1 {
    padding-left: 1em;
    padding-right: 1em;
  }
  .bb-pt-medium-1 {
    padding-top: 1em;
  }
  .bb-pr-medium-1 {
    padding-right: 1em;
  }
  .bb-pb-medium-1 {
    padding-bottom: 1em;
  }
  .bb-pl-medium-1 {
    padding-left: 1em;
  }
  .bb-m-medium-2 {
    margin: 2em;
  }
  .bb-mx-medium-2 {
    margin-left: 2em;
    margin-right: 2em;
  }
  .bb-mt-medium-2 {
    margin-top: 2em;
  }
  .bb-mr-medium-2 {
    margin-right: 2em;
  }
  .bb-mb-medium-2 {
    margin-bottom: 2em;
  }
  .bb-ml-medium-2 {
    margin-left: 2em;
  }
  .bb-p-medium-2 {
    padding: 2em;
  }
  .bb-px-medium-2 {
    padding-left: 2em;
    padding-right: 2em;
  }
  .bb-pt-medium-2 {
    padding-top: 2em;
  }
  .bb-pr-medium-2 {
    padding-right: 2em;
  }
  .bb-pb-medium-2 {
    padding-bottom: 2em;
  }
  .bb-pl-medium-2 {
    padding-left: 2em;
  }
  .bb-m-medium-3 {
    margin: 3em;
  }
  .bb-mx-medium-3 {
    margin-left: 3em;
    margin-right: 3em;
  }
  .bb-mt-medium-3 {
    margin-top: 3em;
  }
  .bb-mr-medium-3 {
    margin-right: 3em;
  }
  .bb-mb-medium-3 {
    margin-bottom: 3em;
  }
  .bb-ml-medium-3 {
    margin-left: 3em;
  }
  .bb-p-medium-3 {
    padding: 3em;
  }
  .bb-px-medium-3 {
    padding-left: 3em;
    padding-right: 3em;
  }
  .bb-pt-medium-3 {
    padding-top: 3em;
  }
  .bb-pr-medium-3 {
    padding-right: 3em;
  }
  .bb-pb-medium-3 {
    padding-bottom: 3em;
  }
  .bb-pl-medium-3 {
    padding-left: 3em;
  }
  .bb-m-medium-4 {
    margin: 4em;
  }
  .bb-mx-medium-4 {
    margin-left: 4em;
    margin-right: 4em;
  }
  .bb-mt-medium-4 {
    margin-top: 4em;
  }
  .bb-mr-medium-4 {
    margin-right: 4em;
  }
  .bb-mb-medium-4 {
    margin-bottom: 4em;
  }
  .bb-ml-medium-4 {
    margin-left: 4em;
  }
  .bb-p-medium-4 {
    padding: 4em;
  }
  .bb-px-medium-4 {
    padding-left: 4em;
    padding-right: 4em;
  }
  .bb-pt-medium-4 {
    padding-top: 4em;
  }
  .bb-pr-medium-4 {
    padding-right: 4em;
  }
  .bb-pb-medium-4 {
    padding-bottom: 4em;
  }
  .bb-pl-medium-4 {
    padding-left: 4em;
  }
  .bb-m-medium-5 {
    margin: 5em;
  }
  .bb-mx-medium-5 {
    margin-left: 5em;
    margin-right: 5em;
  }
  .bb-mt-medium-5 {
    margin-top: 5em;
  }
  .bb-mr-medium-5 {
    margin-right: 5em;
  }
  .bb-mb-medium-5 {
    margin-bottom: 5em;
  }
  .bb-ml-medium-5 {
    margin-left: 5em;
  }
  .bb-p-medium-5 {
    padding: 5em;
  }
  .bb-px-medium-5 {
    padding-left: 5em;
    padding-right: 5em;
  }
  .bb-pt-medium-5 {
    padding-top: 5em;
  }
  .bb-pr-medium-5 {
    padding-right: 5em;
  }
  .bb-pb-medium-5 {
    padding-bottom: 5em;
  }
  .bb-pl-medium-5 {
    padding-left: 5em;
  }
}

@media all and (min-width: 1280px) {
  .bb-m-large-0 {
    margin: 0em;
  }
  .bb-mx-large-0 {
    margin-left: 0em;
    margin-right: 0em;
  }
  .bb-mt-large-0 {
    margin-top: 0em;
  }
  .bb-mr-large-0 {
    margin-right: 0em;
  }
  .bb-mb-large-0 {
    margin-bottom: 0em;
  }
  .bb-ml-large-0 {
    margin-left: 0em;
  }
  .bb-p-large-0 {
    padding: 0em;
  }
  .bb-px-large-0 {
    padding-left: 0em;
    padding-right: 0em;
  }
  .bb-pt-large-0 {
    padding-top: 0em;
  }
  .bb-pr-large-0 {
    padding-right: 0em;
  }
  .bb-pb-large-0 {
    padding-bottom: 0em;
  }
  .bb-pl-large-0 {
    padding-left: 0em;
  }
  .bb-m-large-1 {
    margin: 1em;
  }
  .bb-mx-large-1 {
    margin-left: 1em;
    margin-right: 1em;
  }
  .bb-mt-large-1 {
    margin-top: 1em;
  }
  .bb-mr-large-1 {
    margin-right: 1em;
  }
  .bb-mb-large-1 {
    margin-bottom: 1em;
  }
  .bb-ml-large-1 {
    margin-left: 1em;
  }
  .bb-p-large-1 {
    padding: 1em;
  }
  .bb-px-large-1 {
    padding-left: 1em;
    padding-right: 1em;
  }
  .bb-pt-large-1 {
    padding-top: 1em;
  }
  .bb-pr-large-1 {
    padding-right: 1em;
  }
  .bb-pb-large-1 {
    padding-bottom: 1em;
  }
  .bb-pl-large-1 {
    padding-left: 1em;
  }
  .bb-m-large-2 {
    margin: 2em;
  }
  .bb-mx-large-2 {
    margin-left: 2em;
    margin-right: 2em;
  }
  .bb-mt-large-2 {
    margin-top: 2em;
  }
  .bb-mr-large-2 {
    margin-right: 2em;
  }
  .bb-mb-large-2 {
    margin-bottom: 2em;
  }
  .bb-ml-large-2 {
    margin-left: 2em;
  }
  .bb-p-large-2 {
    padding: 2em;
  }
  .bb-px-large-2 {
    padding-left: 2em;
    padding-right: 2em;
  }
  .bb-pt-large-2 {
    padding-top: 2em;
  }
  .bb-pr-large-2 {
    padding-right: 2em;
  }
  .bb-pb-large-2 {
    padding-bottom: 2em;
  }
  .bb-pl-large-2 {
    padding-left: 2em;
  }
  .bb-m-large-3 {
    margin: 3em;
  }
  .bb-mx-large-3 {
    margin-left: 3em;
    margin-right: 3em;
  }
  .bb-mt-large-3 {
    margin-top: 3em;
  }
  .bb-mr-large-3 {
    margin-right: 3em;
  }
  .bb-mb-large-3 {
    margin-bottom: 3em;
  }
  .bb-ml-large-3 {
    margin-left: 3em;
  }
  .bb-p-large-3 {
    padding: 3em;
  }
  .bb-px-large-3 {
    padding-left: 3em;
    padding-right: 3em;
  }
  .bb-pt-large-3 {
    padding-top: 3em;
  }
  .bb-pr-large-3 {
    padding-right: 3em;
  }
  .bb-pb-large-3 {
    padding-bottom: 3em;
  }
  .bb-pl-large-3 {
    padding-left: 3em;
  }
  .bb-m-large-4 {
    margin: 4em;
  }
  .bb-mx-large-4 {
    margin-left: 4em;
    margin-right: 4em;
  }
  .bb-mt-large-4 {
    margin-top: 4em;
  }
  .bb-mr-large-4 {
    margin-right: 4em;
  }
  .bb-mb-large-4 {
    margin-bottom: 4em;
  }
  .bb-ml-large-4 {
    margin-left: 4em;
  }
  .bb-p-large-4 {
    padding: 4em;
  }
  .bb-px-large-4 {
    padding-left: 4em;
    padding-right: 4em;
  }
  .bb-pt-large-4 {
    padding-top: 4em;
  }
  .bb-pr-large-4 {
    padding-right: 4em;
  }
  .bb-pb-large-4 {
    padding-bottom: 4em;
  }
  .bb-pl-large-4 {
    padding-left: 4em;
  }
  .bb-m-large-5 {
    margin: 5em;
  }
  .bb-mx-large-5 {
    margin-left: 5em;
    margin-right: 5em;
  }
  .bb-mt-large-5 {
    margin-top: 5em;
  }
  .bb-mr-large-5 {
    margin-right: 5em;
  }
  .bb-mb-large-5 {
    margin-bottom: 5em;
  }
  .bb-ml-large-5 {
    margin-left: 5em;
  }
  .bb-p-large-5 {
    padding: 5em;
  }
  .bb-px-large-5 {
    padding-left: 5em;
    padding-right: 5em;
  }
  .bb-pt-large-5 {
    padding-top: 5em;
  }
  .bb-pr-large-5 {
    padding-right: 5em;
  }
  .bb-pb-large-5 {
    padding-bottom: 5em;
  }
  .bb-pl-large-5 {
    padding-left: 5em;
  }
}

@media all and (min-width: 1680px) {
  .bb-m-x-large-0 {
    margin: 0em;
  }
  .bb-mx-x-large-0 {
    margin-left: 0em;
    margin-right: 0em;
  }
  .bb-mt-x-large-0 {
    margin-top: 0em;
  }
  .bb-mr-x-large-0 {
    margin-right: 0em;
  }
  .bb-mb-x-large-0 {
    margin-bottom: 0em;
  }
  .bb-ml-x-large-0 {
    margin-left: 0em;
  }
  .bb-p-x-large-0 {
    padding: 0em;
  }
  .bb-px-x-large-0 {
    padding-left: 0em;
    padding-right: 0em;
  }
  .bb-pt-x-large-0 {
    padding-top: 0em;
  }
  .bb-pr-x-large-0 {
    padding-right: 0em;
  }
  .bb-pb-x-large-0 {
    padding-bottom: 0em;
  }
  .bb-pl-x-large-0 {
    padding-left: 0em;
  }
  .bb-m-x-large-1 {
    margin: 1em;
  }
  .bb-mx-x-large-1 {
    margin-left: 1em;
    margin-right: 1em;
  }
  .bb-mt-x-large-1 {
    margin-top: 1em;
  }
  .bb-mr-x-large-1 {
    margin-right: 1em;
  }
  .bb-mb-x-large-1 {
    margin-bottom: 1em;
  }
  .bb-ml-x-large-1 {
    margin-left: 1em;
  }
  .bb-p-x-large-1 {
    padding: 1em;
  }
  .bb-px-x-large-1 {
    padding-left: 1em;
    padding-right: 1em;
  }
  .bb-pt-x-large-1 {
    padding-top: 1em;
  }
  .bb-pr-x-large-1 {
    padding-right: 1em;
  }
  .bb-pb-x-large-1 {
    padding-bottom: 1em;
  }
  .bb-pl-x-large-1 {
    padding-left: 1em;
  }
  .bb-m-x-large-2 {
    margin: 2em;
  }
  .bb-mx-x-large-2 {
    margin-left: 2em;
    margin-right: 2em;
  }
  .bb-mt-x-large-2 {
    margin-top: 2em;
  }
  .bb-mr-x-large-2 {
    margin-right: 2em;
  }
  .bb-mb-x-large-2 {
    margin-bottom: 2em;
  }
  .bb-ml-x-large-2 {
    margin-left: 2em;
  }
  .bb-p-x-large-2 {
    padding: 2em;
  }
  .bb-px-x-large-2 {
    padding-left: 2em;
    padding-right: 2em;
  }
  .bb-pt-x-large-2 {
    padding-top: 2em;
  }
  .bb-pr-x-large-2 {
    padding-right: 2em;
  }
  .bb-pb-x-large-2 {
    padding-bottom: 2em;
  }
  .bb-pl-x-large-2 {
    padding-left: 2em;
  }
  .bb-m-x-large-3 {
    margin: 3em;
  }
  .bb-mx-x-large-3 {
    margin-left: 3em;
    margin-right: 3em;
  }
  .bb-mt-x-large-3 {
    margin-top: 3em;
  }
  .bb-mr-x-large-3 {
    margin-right: 3em;
  }
  .bb-mb-x-large-3 {
    margin-bottom: 3em;
  }
  .bb-ml-x-large-3 {
    margin-left: 3em;
  }
  .bb-p-x-large-3 {
    padding: 3em;
  }
  .bb-px-x-large-3 {
    padding-left: 3em;
    padding-right: 3em;
  }
  .bb-pt-x-large-3 {
    padding-top: 3em;
  }
  .bb-pr-x-large-3 {
    padding-right: 3em;
  }
  .bb-pb-x-large-3 {
    padding-bottom: 3em;
  }
  .bb-pl-x-large-3 {
    padding-left: 3em;
  }
  .bb-m-x-large-4 {
    margin: 4em;
  }
  .bb-mx-x-large-4 {
    margin-left: 4em;
    margin-right: 4em;
  }
  .bb-mt-x-large-4 {
    margin-top: 4em;
  }
  .bb-mr-x-large-4 {
    margin-right: 4em;
  }
  .bb-mb-x-large-4 {
    margin-bottom: 4em;
  }
  .bb-ml-x-large-4 {
    margin-left: 4em;
  }
  .bb-p-x-large-4 {
    padding: 4em;
  }
  .bb-px-x-large-4 {
    padding-left: 4em;
    padding-right: 4em;
  }
  .bb-pt-x-large-4 {
    padding-top: 4em;
  }
  .bb-pr-x-large-4 {
    padding-right: 4em;
  }
  .bb-pb-x-large-4 {
    padding-bottom: 4em;
  }
  .bb-pl-x-large-4 {
    padding-left: 4em;
  }
  .bb-m-x-large-5 {
    margin: 5em;
  }
  .bb-mx-x-large-5 {
    margin-left: 5em;
    margin-right: 5em;
  }
  .bb-mt-x-large-5 {
    margin-top: 5em;
  }
  .bb-mr-x-large-5 {
    margin-right: 5em;
  }
  .bb-mb-x-large-5 {
    margin-bottom: 5em;
  }
  .bb-ml-x-large-5 {
    margin-left: 5em;
  }
  .bb-p-x-large-5 {
    padding: 5em;
  }
  .bb-px-x-large-5 {
    padding-left: 5em;
    padding-right: 5em;
  }
  .bb-pt-x-large-5 {
    padding-top: 5em;
  }
  .bb-pr-x-large-5 {
    padding-right: 5em;
  }
  .bb-pb-x-large-5 {
    padding-bottom: 5em;
  }
  .bb-pl-x-large-5 {
    padding-left: 5em;
  }
}

/* Basic */
@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

@media (min-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}

body {
  background: #fff;
}

body.is-loading *,
body.is-loading *:before,
body.is-loading *:after {
  -moz-animation: str-replace-all("none !important", "-prefix-", "-moz-");
  -webkit-animation: str-replace-all("none !important", "-prefix-", "-webkit-");
  -ms-animation: str-replace-all("none !important", "-prefix-", "-ms-");
  animation: str-replace-all("none !important", "-prefix-", "");
  -moz-transition: str-replace-all("none !important", "-prefix-", "-moz-");
  -webkit-transition: str-replace-all("none !important", "-prefix-", "-webkit-");
  -ms-transition: str-replace-all("none !important", "-prefix-", "-ms-");
  transition: str-replace-all("none !important", "-prefix-", "");
}

/* Type */
body,
input,
select,
textarea {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
}

@media (min-width: 1680px) {
  body,
  input,
  select,
  textarea {
    font-size: 10.8px;
  }
}

@media (min-width: 1280px) {
  body,
  input,
  select,
  textarea {
    font-size: 10.8px;
  }
}

@media (min-width: 980px) {
  body,
  input,
  select,
  textarea {
    font-size: 12px;
  }
}

@media (min-width: 736px) {
  body,
  input,
  select,
  textarea {
    font-size: 12px;
  }
}

@media (min-width: 480px) {
  body,
  input,
  select,
  textarea {
    font-size: 12px;
  }
}

a {
  color: #4a6187;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

strong,
b {
  color: #555;
  font-weight: bolder;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 1.8em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555;
  font-weight: bolder;
  line-height: 1.5;
  margin: 0 0 0.9em 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 12px;
}

h5 {
  font-size: 10.8px;
}

h6 {
  font-size: 9px;
}

sub {
  font-size: 10.8px;
  position: relative;
  top: 0.5em;
}

sup {
  font-size: 10.8px;
  position: relative;
  top: -0.5em;
}

blockquote {
  border-left: solid 4px rgba(144, 144, 144, 0.25);
  font-style: italic;
  margin: 0 0 1.8em 0;
  padding: 0.45em 0 0.45em 1.8em;
}

code {
  background: rgba(144, 144, 144, 0.075);
  border-radius: 1px;
  border: solid 1px rgba(144, 144, 144, 0.25);
  font-family: "Courier New", monospace;
  font-size: 10.8px;
  margin: 0 0.25em;
  padding: 0.25em 0.65em;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 10.8px;
  margin: 0 0 1.8em 0;
}

pre code {
  display: block;
  line-height: 1.75;
  padding: 1em 1.5em;
  overflow-x: auto;
}

hr {
  border: 0;
  border-bottom: solid 1px rgba(144, 144, 144, 0.25);
  margin: 1.8em 0;
}

hr.major {
  margin: 2.7em 0;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/* Section/Article */
section.special, article.special {
  text-align: center;
}

header p {
  color: #bbb;
  position: relative;
  margin: 0 0 1.35em 0;
}

header h2 + p {
  font-size: 18px;
  margin-top: -0.9em;
}

header h3 + p {
  font-size: 12px;
  margin-top: -0.72em;
}

header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 10.8px;
  margin-top: -0.54em;
}

/* Form */
form {
  margin: 0 0 1.8em 0;
}

label {
  color: #555;
  display: block;
  font-size: 10.8px;
  font-weight: bolder;
  margin: 0 0 0.9em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  -moz-appearance: str-replace-all("none", "-prefix-", "-moz-");
  -webkit-appearance: str-replace-all("none", "-prefix-", "-webkit-");
  -ms-appearance: str-replace-all("none", "-prefix-", "-ms-");
  appearance: str-replace-all("none", "-prefix-", "");
  background: rgba(144, 144, 144, 0.075);
  border-radius: 1px;
  border: none;
  border: solid 1px rgba(144, 144, 144, 0.25);
  color: inherit;
  display: block;
  outline: 0;
  padding: 0 1em;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-color: #4a6187;
  box-shadow: 0 0 0 1px #4a6187;
}

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
}

.select-wrapper:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.select-wrapper:before {
  color: rgba(144, 144, 144, 0.25);
  display: block;
  height: 2.4em;
  line-height: 2.4em;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 2.4em;
}

.select-wrapper select::-ms-expand {
  display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 2.4em;
}

textarea {
  padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
  display: block;
  float: left;
  margin-right: 0.5em;
  width: 1em;
  z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  text-decoration: none;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  padding-left: 2.19em;
  padding-right: 0.75em;
  position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  background: rgba(144, 144, 144, 0.075);
  border-radius: 1px;
  border: solid 1px rgba(144, 144, 144, 0.25);
  content: '';
  display: inline-block;
  height: 1.44em;
  left: 0;
  line-height: 1.38em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.44em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background: #5a5a5a;
  border-color: #5a5a5a;
  color: #ffffff;
  content: '\f00c';
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: #4a6187;
  box-shadow: 0 0 0 1px #4a6187;
}

input[type="checkbox"] + label:before {
  border-radius: 1px;
}

input[type="radio"] + label:before {
  border-radius: 100%;
}

::-webkit-input-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}

:-moz-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}

::-moz-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}

:-ms-input-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}

.formerize-placeholder {
  color: #bbb !important;
  opacity: 1.0;
}

/* Box */
.box {
  border-radius: 1px;
  border: solid 1px rgba(144, 144, 144, 0.25);
  margin-bottom: 1.8em;
  padding: 1.5em;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
  margin-bottom: 0;
}

.box.alt {
  border: 0;
  border-radius: 0;
  padding: 0;
}

/* Icon */
.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

/* Image */
.image {
  border-radius: 1px;
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  border-radius: 1px;
  display: block;
}

.image.left,
.image.right {
  max-width: 40%;
}

.image.left img,
.image.right img {
  width: 100%;
}

.image.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em;
}

.image.fit {
  display: block;
  margin: 0 0 1.8em 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.main {
  display: block;
  margin: 0 0 2.7em 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}

/* List */
ol {
  list-style: decimal;
  margin: 0 0 1.8em 0;
  padding-left: 1.25em;
}

ol li {
  padding-left: 0.25em;
}

ul {
  list-style: disc;
  margin: 0 0 1.8em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px rgba(144, 144, 144, 0.25);
  padding: 0.5em 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}

ul.icons li:last-child {
  padding-right: 0;
}

ul.icons li .icon:before {
  font-size: 72px;
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.actions li {
  display: inline-block;
  padding: 0 0.9em 0 0;
  vertical-align: middle;
}

ul.actions li:last-child {
  padding-right: 0;
}

ul.actions.small li {
  padding: 0 0.45em 0 0;
}

ul.actions.vertical li {
  display: block;
  padding: 0.9em 0 0 0;
}

ul.actions.vertical li:first-child {
  padding-top: 0;
}

ul.actions.vertical li > * {
  margin-bottom: 0;
}

ul.actions.vertical.small li {
  padding: 0.45em 0 0 0;
}

ul.actions.vertical.small li:first-child {
  padding-top: 0;
}

ul.actions.fit {
  display: table;
  margin-left: -0.9em;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 0.9em);
}

ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 0.9em;
}

ul.actions.fit li > * {
  margin-bottom: 0;
}

ul.actions.fit.small {
  margin-left: -0.45em;
  width: calc(100% + 0.45em);
}

ul.actions.fit.small li {
  padding: 0 0 0 0.45em;
}

@media (min-width: 480px) {
  ul.actions {
    margin: 0 0 1.8em 0;
  }
  ul.actions li {
    padding: 0.9em 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }
  ul.actions li:first-child {
    padding-top: 0;
  }
  ul.actions li > * {
    width: 100%;
    margin: 0 !important;
  }
  ul.actions li > *.icon:before {
    margin-left: -2em;
  }
  ul.actions.small li {
    padding: 0.45em 0 0 0;
  }
  ul.actions.small li:first-child {
    padding-top: 0;
  }
}

dl {
  margin: 0 0 1.8em 0;
}

dl dt {
  display: block;
  font-weight: bolder;
  margin: 0 0 0.9em 0;
}

dl dd {
  margin-left: 1.8em;
}

/* Table */
.table-wrapper {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
}

table {
  margin: 0 0 1.8em 0;
  width: 100%;
}

table tbody tr {
  border: solid 1px rgba(144, 144, 144, 0.25);
  border-left: 0;
  border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
  background-color: rgba(144, 144, 144, 0.075);
}

table td {
  padding: 0.75em 0.75em;
}

table th {
  color: #555;
  font-size: 10.8px;
  font-weight: bolder;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left;
}

table thead {
  border-bottom: solid 2px rgba(144, 144, 144, 0.25);
}

table tfoot {
  border-top: solid 2px rgba(144, 144, 144, 0.25);
}

table.alt {
  border-collapse: separate;
}

table.alt tbody tr td {
  border: solid 1px rgba(144, 144, 144, 0.25);
  border-left-width: 0;
  border-top-width: 0;
}

table.alt tbody tr td:first-child {
  border-left-width: 1px;
}

table.alt tbody tr:first-child td {
  border-top-width: 1px;
}

table.alt thead {
  border-bottom: 0;
}

table.alt tfoot {
  border-top: 0;
}

/* Button */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: str-replace-all("none", "-prefix-", "-moz-");
  -webkit-appearance: str-replace-all("none", "-prefix-", "-webkit-");
  -ms-appearance: str-replace-all("none", "-prefix-", "-ms-");
  appearance: str-replace-all("none", "-prefix-", "");
  -moz-transition: str-replace-all("background-color 0.25s ease-in-out, color 0.25s ease-in-out", "-prefix-", "-moz-");
  -webkit-transition: str-replace-all("background-color 0.25s ease-in-out, color 0.25s ease-in-out", "-prefix-", "-webkit-");
  -ms-transition: str-replace-all("background-color 0.25s ease-in-out, color 0.25s ease-in-out", "-prefix-", "-ms-");
  transition: str-replace-all("background-color 0.25s ease-in-out, color 0.25s ease-in-out", "-prefix-", "");
  background-color: #5a5a5a;
  border-radius: 1px;
  border: 0;
  color: #ffffff !important;
  cursor: pointer;
  display: inline-block;
  font-weight: bolder;
  height: 2.85em;
  line-height: 1.75;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  background-color: #676767;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
  background-color: #4d4d4d;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
  padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
  margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
  display: block;
  margin: 0 0 0.9em 0;
  width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
  font-size: 10.8px;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
  font-size: 18px;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
button.alt,
.button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
  color: #555 !important;
}

input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
input[type="button"].alt:hover,
button.alt:hover,
.button.alt:hover {
  background-color: rgba(144, 144, 144, 0.075);
}

input[type="submit"].alt:active,
input[type="reset"].alt:active,
input[type="button"].alt:active,
button.alt:active,
.button.alt:active {
  background-color: rgba(144, 144, 144, 0.2);
}

input[type="submit"].alt.icon:before,
input[type="reset"].alt.icon:before,
input[type="button"].alt.icon:before,
button.alt.icon:before,
.button.alt.icon:before {
  color: #bbb;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
  background-color: #4a6187;
  color: #ffffff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
  background-color: #536d97;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
  background-color: #415577;
}

input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
  background-color: #444 !important;
  box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
  color: #fff !important;
  cursor: default;
  opacity: 0.25;
}

@media (min-width: 480px) {
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    padding: 0;
  }
}

/* Grid Demo */
.grid-demo {
  display: block;
  margin: 0 0 1.8em 0;
}

.grid-demo span {
  background: #9fb0cb;
  border-radius: 1px;
  color: rgba(0, 0, 0, 0.25);
  display: block;
  font-weight: bolder;
  height: 2.4em;
  line-height: 2.4em;
  text-align: center;
}

body {
  padding-top: 3.125em;
}

header {
  background: #ffffff;
  color: #5a5a5a;
  cursor: default;
  height: 3.7em;
  left: 0;
  line-height: 1.75;
  position: fixed;
  text-align: left;
  top: 0;
  width: 100%;
  z-index: 10001;
  border-bottom: solid 1px rgba(144, 144, 144, 0.25);
}

header .searchbox {
  width: auto;
}

header > h1 {
  color: #5a5a5a;
  display: inline-block;
  height: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0 0 0 1em;
  top: 0;
  border-right: solid 1px rgba(144, 144, 144, 0.25);
  font-size: 12px;
}

header > h1 a {
  font-size: 18px;
}

header .links {
  display: inline-block;
}

header .links > a {
  border-right: solid 1px rgba(144, 144, 144, 0.25);
}

header .links .search {
  display: inline-block;
  text-align: right;
  position: absolute;
  top: 0;
  right: 10px;
  border-left: solid 1px rgba(144, 144, 144, 0.25);
  padding-left: 1.25em;
}

header .links .search input {
  margin-left: 10px;
}

header a {
  -moz-transition: str-replace-all("color 0.25s ease-in-out", "-prefix-", "-moz-");
  -webkit-transition: str-replace-all("color 0.25s ease-in-out", "-prefix-", "-webkit-");
  -ms-transition: str-replace-all("color 0.25s ease-in-out", "-prefix-", "-ms-");
  transition: str-replace-all("color 0.25s ease-in-out", "-prefix-", "");
  padding: 0 0.75em;
  color: inherit;
  text-decoration: none;
}

header a:hover {
  color: #d6d6d6;
}

header a[href="#nav"] {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

header a[href="#nav"]:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

header a[href="#nav"]:last-child {
  border-left: solid 1px rgba(144, 144, 144, 0.25);
  padding-left: 1.25em;
  margin-left: 0.5em;
  position: absolute;
  right: 0;
}

header a:last-child {
  padding-right: 1.25em;
}

@media (min-width: 736px) {
  header a {
    padding: 0 0.5em;
  }
  header a + a[href="#nav"]:last-child {
    padding-left: 1em;
    margin-left: 0.25em;
  }
  header a:last-child {
    padding-right: 1em;
  }
}

@media (min-width: 980px) {
  body {
    padding-top: 44px;
  }
  header {
    height: 44px;
    line-height: 1.75;
  }
  header > h1 {
    left: 1em;
  }
  header > h1 a {
    font-size: 12px;
  }
}

@media (min-width: 480px) {
  header {
    min-width: 320px;
  }
}

/* Nav */
nav {
  -moz-transform: str-replace-all("translateX(20em)", "-prefix-", "-moz-");
  -webkit-transform: str-replace-all("translateX(20em)", "-prefix-", "-webkit-");
  -ms-transform: str-replace-all("translateX(20em)", "-prefix-", "-ms-");
  transform: str-replace-all("translateX(20em)", "-prefix-", "");
  -moz-transition: str-replace-all("-prefix-transform 0.5s ease", "box-shadow 0.5s ease", "visibility 0.5s", "-prefix-", "-moz-");
  -webkit-transition: str-replace-all("-prefix-transform 0.5s ease", "box-shadow 0.5s ease", "visibility 0.5s", "-prefix-", "-webkit-");
  -ms-transition: str-replace-all("-prefix-transform 0.5s ease", "box-shadow 0.5s ease", "visibility 0.5s", "-prefix-", "-ms-");
  transition: str-replace-all("-prefix-transform 0.5s ease", "box-shadow 0.5s ease", "visibility 0.5s", "-prefix-", "");
  -webkit-overflow-scrolling: touch;
  background: #3b3b3b;
  box-shadow: none;
  color: #ffffff;
  height: 100%;
  max-width: 80%;
  overflow-y: auto;
  padding: 3em 2em;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  width: 20em;
  z-index: 10002;
}

nav > ul {
  margin: 0 0 0.9em 0;
}

nav > ul.links {
  list-style: none;
  padding: 0;
}

nav > ul.links > li {
  padding: 0;
}

nav > ul.links > li > a:not(.button) {
  border: 0;
  border-top: solid 1px rgba(255, 255, 255, 0.15);
  color: inherit;
  display: block;
  line-height: 1.75;
  text-decoration: none;
}

nav > ul.links > li > .button {
  display: block;
  margin: 0.5em 0 0 0;
}

nav > ul.links > li:first-child > a:not(.button) {
  border-top: 0 !important;
}

nav .close {
  text-decoration: none;
  -moz-transition: str-replace-all("color 0.25s ease-in-out", "-prefix-", "-moz-");
  -webkit-transition: str-replace-all("color 0.25s ease-in-out", "-prefix-", "-webkit-");
  -ms-transition: str-replace-all("color 0.25s ease-in-out", "-prefix-", "-ms-");
  transition: str-replace-all("color 0.25s ease-in-out", "-prefix-", "");
  -webkit-tap-highlight-color: transparent;
  border: 0;
  color: #bdbdbd;
  cursor: pointer;
  display: block;
  height: 3.25em;
  line-height: 1.75;
  padding-right: 1.25em;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  vertical-align: middle;
  width: 7em;
}

nav .close:before {
  content: "";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

nav .close:before {
  font-size: 18px;
}

nav .close:hover {
  color: #ffffff;
}

@media (min-width: 736px) {
  nav .close {
    height: 4em;
    line-height: 1.75;
  }
}

nav.visible {
  -moz-transform: str-replace-all("translateX(0)", "-prefix-", "-moz-");
  -webkit-transform: str-replace-all("translateX(0)", "-prefix-", "-webkit-");
  -ms-transform: str-replace-all("translateX(0)", "-prefix-", "-ms-");
  transform: str-replace-all("translateX(0)", "-prefix-", "");
  box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
  visibility: visible;
}

@media (min-width: 736px) {
  nav {
    padding: 2.5em 1.75em;
  }
}

/* Banner */
.banner {
  padding: 8em 0 6.2em 0;
  background: #f6f6f6;
  text-align: center;
}

.banner h2 {
  font-size: 72px;
  line-height: 1.5;
  margin: 0 0 0.5em 0;
  padding: 0;
}

.banner p {
  font-size: 48px;
  margin-bottom: 1.75em;
}

@media (min-width: 1680px) {
  .banner {
    padding: 7em 0 5.2em 0;
  }
}

@media (min-width: 1280px) {
  .banner {
    padding: 5em 0 3.2em 0;
  }
  .banner h2 {
    font-size: 72px;
  }
}

@media (min-width: 980px) {
  .banner {
    padding: 6em 2em 4.2em 2em;
  }
}

@media (min-width: 736px) {
  .banner {
    padding: 4em 2em 2.2em 2em;
  }
  .banner h2 {
    font-size: 48px;
  }
  .banner p {
    font-size: 18px;
  }
}

@media (min-width: 480px) {
  .banner {
    padding: 4em 2em 2.2em 2em;
  }
}

/* Main */
.main {
  padding: 4em 0 2.2em 0;
}

@media (min-width: 736px) {
  .main {
    padding: 3em 0 1.2em 0;
  }
}

/* Footer */
footer {
  padding: 2em 0 0 0;
  background: #4a6187;
  color: #ffffff;
}

footer h2, footer h3, footer h4 {
  color: #ffffff;
}

footer h3 {
  font-size: 12px;
}

footer .copyright {
  background: #22385d;
  color: #ffffff;
  font-size: 10.8px;
  margin: 2em 0 0 0;
  padding: 1em;
  text-align: left;
}

footer .copyright li {
  border-left: solid 1px rgba(144, 144, 144, 0.25);
  display: inline-block;
  list-style: none;
  margin-left: 1.5em;
  padding-left: 1.5em;
}

footer .copyright li:first-child {
  border-left: 0;
  margin-left: 0;
  padding-left: 0;
}

@media (min-width: 736px) {
  footer {
    padding: 3em 0 1.2em 0;
  }
  footer .copyright li {
    display: block;
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
  }
}

/*# sourceMappingURL=../css/baseline.map */