// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

/// Makes an element's :before pseudoelement a FontAwesome icon.
/// @param {string} $content Optional content value to use.
@mixin icon($content: false) {
    text-decoration: none;

    &:before {
        @if $content {
            content: $content;
        }
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }
}

/// Applies padding to an element, taking the current element-margin value into account.
/// @param {mixed} $tb Top/bottom padding.
/// @param {mixed} $lr Left/right padding.
/// @param {list} $pad Optional extra padding (in the following order top, right, bottom, left)
@mixin padding($tb, $lr, $pad: (0,0,0,0)) {
    padding: ($tb + nth($pad,1)) ($lr + nth($pad,2)) max(0.1em, $tb - _size(element-margin) + nth($pad,3)) ($lr + nth($pad,4));
}

/// Vendor prefixes.
/// @var {list}
$vendor-prefixes: (
    '-moz-',
    '-webkit-',
    '-ms-',
    ''
);

/// Properties that should be vendorized.
/// @var {list}
$vendor-properties: (
    'align-content',
    'align-items',
    'align-self',
    'animation',
    'animation-delay',
    'animation-direction',
    'animation-duration',
    'animation-fill-mode',
    'animation-iteration-count',
    'animation-name',
    'animation-play-state',
    'animation-timing-function',
    'appearance',
    'backface-visibility',
    'box-sizing',
    'filter',
    'flex',
    'flex-basis',
    'flex-direction',
    'flex-flow',
    'flex-grow',
    'flex-shrink',
    'flex-wrap',
    'justify-content',
    'order',
    'perspective',
    'pointer-events',
    'transform',
    'transform-origin',
    'transform-style',
    'transition',
    'transition-delay',
    'transition-duration',
    'transition-property',
    'transition-timing-function',
    'user-select'
);

/// Values that should be vendorized.
/// @var {list}
$vendor-values: (
    'filter',
    'flex',
    'linear-gradient',
    'radial-gradient',
    'transform'
);

// Functions.

/// Removes a specific item from a list.
/// @author Hugo Giraudel
/// @param {list} $list List.
/// @param {integer} $index Index.
/// @return {list} Updated list.
@function remove-nth($list, $index) {

    $result: null;

    @if type-of($index) != number {
        @warn "$index: #{quote($index)} is not a number for `remove-nth`.";
    }
    @else if $index == 0 {
        @warn "List index 0 must be a non-zero integer for `remove-nth`.";
    }
    @else if abs($index) > length($list) {
        @warn "List index is #{$index} but list is only #{length($list)} item long for `remove-nth`.";
    }
    @else {

        $result: ();
        $index: if($index < 0, length($list) + $index + 1, $index);

        @for $i from 1 through length($list) {

            @if $i != $index {
                $result: append($result, nth($list, $i));
            }
        }
    }

    @return $result;
}

/// Replaces a substring within another string.
/// @author Hugo Giraudel
/// @param {string} $string String.
/// @param {string} $search Substring.
/// @param {string} $replace Replacement.
/// @return {string} Updated string.
@function str-replace($string, $search, $replace: '') {

    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

/// Replaces a substring within each string in a list.
/// @param {list} $strings List of strings.
/// @param {string} $search Substring.
/// @param {string} $replace Replacement.
/// @return {list} Updated list of strings.
@function str-replace-all($strings, $search, $replace: '') {

    @each $string in $strings {
        $strings: set-nth($strings, index($strings, $string), str-replace($string, $search, $replace));
    }

    @return $strings;
}

/// Gets a value from a map.
/// @author Hugo Giraudel
/// @param {map} $map Map.
/// @param {string} $keys Key(s).
/// @return {string} Value.
@function val($map, $keys...) {

    @if nth($keys, 1) == null {
        $keys: remove-nth($keys, 1);
    }

    @each $key in $keys {
        $map: map-get($map, $key);
    }

    @return $map;
}

/// Wraps @content in a @media block targeting a specific orientation.
/// @param {string} $orientation Orientation.
@mixin orientation($orientation) {
    @media screen and (orientation: #{$orientation}) {
        @content;
    }
}

/// Wraps @content in vendorized keyframe blocks.
/// @param {string} $name Name.
@mixin keyframes($name) {
    @-moz-keyframes #{$name} { @content; }
    @-webkit-keyframes #{$name} { @content; }
    @-ms-keyframes #{$name} { @content; }
    @keyframes #{$name} { @content; }
}

/// Vendorizes a declaration's property and/or value(s).
/// @param {string} $property Property.
/// @param {mixed} $value String/list of value(s).
@mixin vendor($property, $value) {

    // Determine if property should expand.
    $expandProperty: index($vendor-properties, $property);

    // Determine if value should expand (and if so, add '-prefix-' placeholder).
    $expandValue: false;

    @each $x in $value {
        @each $y in $vendor-values {
            @if $y == str-slice($x, 1, str-length($y)) {

                $value: set-nth($value, index($value, $x), '-prefix-' + $x);
                $expandValue: true;

            }
        }
    }

    // Expand property?
    @if $expandProperty {
        @each $vendor in $vendor-prefixes {
            #{$vendor}#{$property}: #{str-replace-all($value, '-prefix-', $vendor)};
        }
    }

        // Expand just the value?
    @else if $expandValue {
        @each $vendor in $vendor-prefixes {
            #{$property}: #{str-replace-all($value, '-prefix-', $vendor)};
        }
    }

        // Neither? Treat them as a normal declaration.
    @else {
        #{$property}: #{$value};
    }

}