// skel-baseline v3.0.1 | (c) n33 | skel.io | MIT licensed

// Default font size
$font-size-normal: 12px;

// Misc.
$misc: (
    z-index-base: 10000
);

// Duration.
$duration: (
    nav: 0.5s,
    transition: 0.25s
);

// Size.
$size: (
    border-radius: 1px,
    border-width: 1px,
    element-height: 2.4em,
    element-margin: 1.8em,
    line-height-normal: 1.5,
    line-height-small: 1,
    line-height-large: 1.75
);

// Font.
$font: (
    family: (Arial, Helvetica, sans-serif),
    family-fixed: ("Courier New", monospace),
    weight: normal,
    weight-bold: bolder,
    font-size-normal: $font-size-normal,
    font-size-xxlarge: $font-size-normal * 6,
    font-size-xlarge: $font-size-normal * 4,
    font-size-large: $font-size-normal * 2,
    font-size-medium: $font-size-normal * 1.5,
    font-size-small: $font-size-normal * .9,
    font-size-xsmall: $font-size-normal * .75,
    font-size-xxsmall: $font-size-normal * .5
);

// Palette.
$palette: (
    bg: #fff,
    fg: #444,
    fg-bold: #555,
    fg-light: #bbb,
    border: rgba(144,144,144,0.25),
    border-bg: rgba(144,144,144,0.075),
    border2: rgba(144,144,144,0.5),
    border2-bg: rgba(144,144,144,0.2),

    accent1: (
        bg: #4a6187,
        fg: mix(#2a4674, #000000, 80%),
        fg-bold: #ffffff,
        fg-light: mix(#5AA6ED, #ffffff, 40%),
        border: rgba(255,255,255,0.25),
        border-bg: rgba(255,255,255,0.075),
        border2: rgba(255,255,255,0.5),
        border2-bg: rgba(255,255,255,0.2)
    ),

    accent2: (
        bg: #5a5a5a,
        fg: mix(#5a5a5a, #ffffff, 25%),
        fg-bold: #ffffff,
        fg-light: mix(#5a5a5a, #ffffff, 40%),
        border: rgba(255,255,255,0.15),
        border-bg: rgba(255,255,255,0.075),
        border2: rgba(255,255,255,0.5),
        border2-bg: rgba(255,255,255,0.2)
    ),

    accent3: (
        bg: #EDEDEE,
        fg: mix(#B6B6B6, #ffffff, 25%),
        fg-bold: #464646,
        fg-light: mix(#5a5a5a, #ffffff, 0%),
        border: rgba(255,255,255,0.15),
        border-bg: rgba(255,255,255,0.075),
        border2: rgba(255,255,255,0.5),
        border2-bg: rgba(255,255,255,0.2)
    )
);